# django & co
Django==1.5.1
South==0.8.1
psycopg2==2.5
# images
Pillow==2.0.0
# dev & testing
mock==1.0.1
coverage==3.6
selenium==2.33.0
pep8==1.4.5
# uwsgi
uWSGI==1.9.11
# django-social-auth
httplib2==0.8
oauth2==1.5.211
python-openid==2.2.5
django-social-auth==0.7.25
