# django & co
Django==1.8
South==1.0.2
psycopg2==2.6
# images
Pillow==2.8.1
# dev & testing
mock==1.0.1
coverage==3.7.1
selenium==2.45.0
pep8==1.6.2
# uwsgi
uWSGI==2.0.10
# pygal
pygal==1.7.0
# django-mailer (just in case we overwrite this file with contents of freeze)
# git+https://github.com/pinax/django-mailer.git@88436a1318ad4e14d6dd3f8ac6256059af43a2f0#egg=django-mailer
git+https://github.com/pinax/django-mailer.git@88436a1318ad4e14d6dd3f8ac6256059af43a2f0#egg=django-mailer 
django-localflavor==1.1
