# django & co
Django==1.8
pytz==2015.2
psycopg2==2.6

# images
Pillow==2.9.0

# dev & testing
mock==1.0.1
coverage==3.7.1
selenium==2.45.0
pep8==1.6.2

# uwsgi
uWSGI==2.0.11.1

# pygal
pygal==2.0.7

# django-localflavor
django-localflavor==1.1

# django-autocomplete-light
django-autocomplete-light==2.0.9
six==1.9.0

# django-crispy-forms
django-crispy-forms==1.4.0

# django-mobile
django-mobile==0.5.1

# Sphinx
Babel==2.1.1
Jinja2==2.8
MarkupSafe==0.23
Pygments==2.0.2
Sphinx==1.3.1
alabaster==0.7.6
docutils==0.12
snowballstemmer==1.2.0
sphinx-rtd-theme==0.1.9
