#
# To update requirements.txt:
#     $ pip freeze -r requirements.txt >> reqs && mv -f reqs requirements.txt && vim requirements.txt
#
# To AUTOUPDATE critical reqs:
#
#    $ for req in $(cat requirements.txt | egrep '^# AUTOUPDATE:' | cut -d : -f2) ; do echo "# $req" ; pip install --upgrade "$req" ; done
#
# To UPDATE other reqs:
#
#    $ for req in $(cat requirements.txt | egrep '^# UPDATE:' | cut -d : -f2) ; do echo "# $req" ; pip install --upgrade "$req" ; done
#

# AUTOUPDATE:django<1.9:latest version of the 1.8 serie
Django==1.8.7

# AUTOUPDATE:pytz:latest version
pytz==2015.7

# UPDATE:psycopg2:latest version
psycopg2==2.6.1

# UPDATE:Pillow:latest version
Pillow==2.9.0

# UPDATE:pep8:latest version
pep8==1.6.2

#mock==1.0.1
#coverage==3.7.1
#selenium==2.45.0

# UPDATE:uwsgi<2.1:latest version
uWSGI==2.0.11.2

# UPDATE:pygal:latest version
pygal==2.0.11

# UPDATE:django-localflavor:latest version
django-localflavor==1.2

# UPDATE:django-crispy-forms:latest version
django-crispy-forms==1.5.2

# UPDATE:django-mobile:latest version
django-mobile==0.5.1
