{% extends "lumina/base.html" %}
{% load lumina_extras %}{% load crispy_forms_tags %}

{% block content %}

    <h3>Sesiones</h3>

    {% for a_session in object_list %}

        {% ifchanged a_session.customer.id %}
            <h4>{{ a_session.customer.name }}</h4>
        {% endifchanged %}

        <div class="media">
            <a class="pull-left" href="javascript:void(0);">
                <img class="media-object" src="{% url 'session_album_icon' a_session.id %}">
            </a>
            <div class="media-body">
                <div class="media-heading"><a href="{% url 'session_gallery' a_session.pk %}">
                    <span class="badge badge-info">{{ a_session.image_set.count }}</span>
                    {{ a_session.name }}</a>
                </div>
            </div>
        </div>
        <hr>

    {% empty %}

        <h4>
            No hay sesiones fotográficas para mostrar
        </h4>
        <hr>

    {% endfor %}

{% endblock content %}
