{# Requires: `image` #}
<div class="media">
    <a class="pull-left" href="javascript:void(0);">
        <img class="media-object" src="{% url 'image_thumb_64x64' image.pk %}">
    </a>
    <div class="media-body">
        <div class="media-heading"><a
               href="{% if image.studio == user.studio and read_write %}{% url 'image_update' image.pk %}{% else %}javascript:void(0);{% endif %}"
                    >{% if image.image %}{{ image.original_filename }}{% else %}{{ image.thumbnail_original_filename }}{% endif %}</a>
        </div>
        <div>

            {% if image.image %}
		              <small> <span class="label">{{ image.size|filesizeformat }}</span></small>
		              &nbsp;
		              <small><span class="label">{{ image.content_type }}</span></small>
            {% endif %}
		
					  {% if hide_download %}
					  {% else %}
					       {% if image.image %}
					              &nbsp;
					              <small><a href="{% url 'image_download' image.pk %}"
					                class="btn btn-primary btn-mini lumina_download_image">Bajar</a></small>
                            {% endif %}
                      {% endif %}
		
		            {% if checkbox_for_selection %}
						<label class="checkbox" for="selected_images_{{ image.id }}"><input
		                        type="checkbox" name="selected_images" value="{{ image.id }}"
		                        id="selected_images_{{ image.id }}"> Seleccionar
		                </label>
                    {% endif %}

            {% if not image.image %}
                <small class="text-muted">
                    <i class="fa fa-eye"></i>
                    Vista previa

                    {% if image.studio == user.studio and image.original_file_checksum %}
                        - Checksum de original: 0x{{image.original_file_checksum}}
                    {% endif %}
                </small>
            {% endif %}

            {% if show_dates %}
                -
                <i class="icon-calendar"></i> <span title="Creación: {{image.created|date}} - Última actualización: {{image.last_modified|date}}">
                    <small><em>Última actualización:</em> hace <strong>{{ image.last_modified|timesince }}</strong></small></span>
            {% endif %}

        </div>
    </div>
</div>

{% if nohr %}
{% else %}
<hr>
{% endif %}
