{# Requires: `image` #}
<div class="media">
    <a class="pull-left" href="javascript:void(0);">
        <img class="media-object" src="{% url 'image_thumb_64x64' image.pk %}">
    </a>
    <div class="media-body">
        <div class="media-heading"><a
               href="{% if image.user == user %}{% url 'image_update' image.pk %}{% else %}javascript:void(0);{% endif %}">{{ image.original_filename }}</a>
        </div>
        <div>
              <small> <span class="label">{{ image.size|filesizeformat }}</span></small>
              &nbsp;
              <small><span class="label">{{ image.content_type }}</span></small>
              &nbsp;
              <small><a href="{% url 'image_download' image.pk %}" class="btn btn-primary btn-mini">Bajar</a></small>
        </div>
    </div>
</div>
<hr>
