{% load humanize %}
<!--
{#                                                                                            #}
{# If you include this snippet, you should include 'sessionquote_details_readonly.html' too.  #}
{#                                                                                            #}
{#  Parameters:                                                                               #}
{#                                                                                            #}
{#  Uses:                                                                                     #}
{#   - object                                                                                 #}
{#   - selected_quote                                                                         #}
{#                                                                                            #}
-->
    <tr>
        <th width="20%">Cliente:</th>
        <td width="80%">{{ object.customer.name }}</td>
    </tr>
    <tr>
        <th>
            Estado:
        </th>
        <td>{{ object.get_status_display }}
            &nbsp;&nbsp;
            <a href="#helpModal" role="button"
                class="btn btn-primary btn-mini"
                data-toggle="modal"><i class="icon-question-sign icon-white"></i> Ayuda</a>
        </td>
    </tr>

        <tr>
            <th>Condiciones:</th>
            <td><pre>{{ object.terms }}</pre>
            </td>
        </tr>

        <tr>
            <th>Alternativas:</th>
            <td>
                <table class="table table-condensed table-hover table-bordered">
                    <tr>
                        <th width="40%" style="text-align: right;">&nbsp;</th>
                        <th width="30%" style="text-align: right;">Cant. de fotograias</th>
                        <th width="30%" style="text-align: right;">Costo</th>
                        <th width="5%" style="text-align: center;">&nbsp;</th>
                    </tr>
                    <tr {% if selected_quote == 0 %}class="success"{% endif %}>
                        <td width="40%" style="text-align: right; font-weight: bold;">Presupuesto original:</td>
                        <td width="30%" style="text-align: right;">{{ object.image_quantity|intcomma }}</td>
                        <td width="30%" style="text-align: right;">$ {{ object.cost|intcomma }}</td>
                        <td width="5%" style="text-align: center;">
                            {% if selected_quote == 0 %}
                                <i class="icon-ok"></i>
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </td>
                    </tr>
                    {% for alt in object.quote_alternatives.all %}
                        <tr {% if selected_quote == alt.id %}class="success"{% endif %}>
                            <td style="text-align: right; font-weight: bold;">Alternativa:</td>
                            <td style="text-align: right;">{{ alt.image_quantity|intcomma }}</td>
                            <td style="text-align: right;">$ {{ alt.cost|intcomma }}</td>
                            <td width="5%" style="text-align: center;">
                                {% if selected_quote == alt.id %}
                                    <i class="icon-ok"></i>
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
