{% load humanize %}{% load lumina_extras %}

    <tr>
        <th width="20%">Nombre:</th>
        <td width="80%">
            {{ object.name }}
        </td>
    </tr>
    
    <tr>
        <th width="20%">Cliente:</th>
        <td width="80%">
            {{ object.customer.name }}
            {% if user.is_photographer %}
                - <small>Tipo: {{ object.customer.customer_type }}</small>
            {% endif %}
        </td>
    </tr>
    
    {% if user.is_photographer %}
    <tr>
        <th width="20%">Sesión:</th>
        <td width="80%">
            {% if object.session %}
                <a href="{% url 'session_detail' object.session.id %}">{{ object.session.name }}</a>
            {% else %}
                <em>Sin sesión</em>
            {% endif %}
        </td>
    </tr>
    {% endif %}

    <tr>
        <th>
            Estado:
        </th>
        <td>
            {% session_quote_status object %}
            
            &nbsp;&nbsp;&nbsp;
            <small><a href="#helpModal" data-toggle="modal"><i
                class="icon-question-sign"></i> Ayuda</a></small>
        </td>
    </tr>

        {% if object.status == 'A' %}
            <tr>
                <th>
                    Aceptado por:
                </th>
                <td>
                    {{ object.accepted_rejected_by }}
                    -
                    {{ object.accepted_rejected_at }}
                </td>
            </tr>
        {% endif %}
        {% if object.status == 'R' %}
            <tr>
                <th>
                    Rechazado por:
                </th>
                <td>
                    {{ object.accepted_rejected_by }}
                    -
                    {{ object.accepted_rejected_at }}
                </td>
            </tr>
        {% endif %}

        <tr>
            <th>Fecha de entrega pactada:</th>
            <td>{{ object.stipulated_date }}
            </td>
        </tr>

        <tr>
            <th>Entrega inicial pactada:</th>
            <td>$ {{ object.stipulated_down_payment|intcomma }}
            </td>
        </tr>


        <tr>
            <th>Condiciones:</th>
            <td><pre>{{ object.terms }}</pre>
            </td>
        </tr>

        <tr>
            <th><small>Fecha de creación:</small></th>
            <td>
                <small>{{ object.created }} (hace {{ object.created|timesince }})</small>
            </td>
        </tr>
        <tr>
            <th><small>Última actualización:</small></th>
            <td>
                <small>{{ object.last_modified }} (hace {{ object.last_modified|timesince }})</small>
            </td>
        </tr>

        {% if show_alternatives %}

            <tr>
                <td colspan="2">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>Alternativas</h4></div>
                        <div class="panel-body">
                            <table class="table table-condensed table-hover table-bordered">
                                <tr>
                                    <th width="10%" style="text-align: center;">Seleccionado</th>
                                    <th width="40%" style="text-align: center;">Presupuesto original o alternativa</th>
                                    <th width="25%" style="text-align: right;">Cant. de fotografias</th>
                                    <th width="25%" style="text-align: right;">Costo</th>
                                </tr>
                                <tr {% if object.original_quote_is_accepted %}class="success"{% endif %}>
                                    <td style="text-align: center;">
                                        {% if object.original_quote_is_accepted %}
                                            <i class="fa fa-check"></i>
                                        {% endif %}
                                    </td>
                                    <td style="text-align: center;">
                                        Presupuesto original
                                    </td>
                                    <td style="text-align: right;">{{ object.image_quantity|intcomma }}</td>
                                    <td style="text-align: right;">$ {{ object.cost|intcomma }}</td>
                                </tr>
                                {% for alt in object.quote_alternatives.all %}
                                    <tr {% if alt.is_selected %}class="success"{% endif %}>
                                        <td style="text-align: center;">
                                            {% if alt.is_selected %}
                                                <i class="fa fa-check"></i>
                                            {% endif %}
                                        </td>
                                        <td style="text-align: center;">
                                            Presupuesto alternativo
                                        </td>
                                        <td style="text-align: right;">{{ alt.image_quantity|intcomma }}</td>
                                        <td style="text-align: right;">$ {{ alt.cost|intcomma }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </td>
            </tr>

        {% endif %}