<!--
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# Template for the {% image_item %} custom tag                           #}
{# This is used to show a thumbnail of the image, in the context          #}
{# of a list of images (search result or images of a session)             #}
{#                                                                        #}
{# Only the photographer should see this items                            #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
-->

<div class="col-xs-6 col-sm-4 col-lg-3">
    <div style="height: 300px;">
        <div style="height: 200px; width: 200px; display: table;">
            <div style="display: table-cell; vertical-align: bottom;">
                <img src="{{ thumbnail_url }}">
            </div>
        </div>
        <div>
            {% if image.full_quality_available %}
                <small class="text-muted">
                    {{ image.size|filesizeformat }}
                    ·
                </small>
            {% endif %}
            <strong><a href="{% url 'image_update' image.pk %}">{{ image_filename }}</a></strong>
        </div>
        {% if image.full_quality_available %}
            <div>
                <small class="text-muted">
                    <a href="{% url 'image_download' image.pk %}">
                        <i class="fa fa-download"></i> Bajar
                    </a>
                    ·
                    {% if show_set_as_album_icon_button %}
                        <a href="{% url 'set_image_as_album_icon' image.session.id image.id %}">Usar como ícono del album</a>
                    {% endif %}
                </small>
            </div>
        {% else %}
            <small class="text-muted">
                <i class="fa fa-exclamation-circle"></i> Sólo vista previa.
            </small>
        {% endif %}
    </div>
</div>
