{% extends "lumina/base.html" %}
{% load lumina_extras %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina - Album list{% endblock %}</title>
</head>
<body>

{% block content %}

	<h3>Albumes para '{{ user }}'</h3>

	{% for album in object_list %}
        <ul class="media-list">
            <li class="media"><a class="pull-left" href="{% url 'album_detail' album.pk %}"><img
                    class="media-object" src="/static/album-icon-64x64.png">
                </a>
                <div class="media-body">
                    <h4 class="media-heading"><a
                        href="{% url 'album_detail' album.pk %}">{{ album.name }}</a></h4>
                    <div>
                        <small>
                            {{ album.image_set.count }} imagen{{ album.image_set.count|pluralize:",es" }}
                            -
                            Compartido con {{ album.sharedalbum_set.count }} persona{{ album.sharedalbum_set.count|pluralize:",s" }}
                           </small>
                       </div>
                </div>
            </li>
        </ul>
	{% empty %}
	   <p>No hay albumes...</p>
	{% endfor %}

    {% dump_objects user object_list %}

{% endblock content %}

</body>
</html>
