{% extends "lumina/base.html" %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina - Album: {{ object.name }}{% endblock %}</title>
</head>
<body>

{% block content %}

    <h4>Album '{{ object.name }}'</h4>

    <hr>

    <h5>Imágenes del album:</h5>
    {% for image in object.image_set.all %}
        {% include 'lumina/include/image.html' with image=image only %}
    {% empty %}
        <p>No hay imagenes...</p>
	    <hr>
    {% endfor %}

    <h5>Compartido:</h5>
    <table class="table">
	    {% for sharedalbum in object.sharedalbum_set.all %}
	        <tr>
               <td width="5%"><a href="{% url 'shared_album_view' sharedalbum.random_hash %}">Link</a></td>
	           <td width="95%">{{ sharedalbum.shared_with }}</td>
	        </tr>
	    {% empty %}
            <tr><td>El album no ha sido compartido</td></tr>
	    {% endfor %}
    </table>

    <hr>

    <p>
	    <a href="{% url 'album_update' object.pk %}" class="btn btn-primary">Actualizar album</a>
	    <a href="{% url 'image_create' %}?id_album={{ object.pk }}" class="btn btn-primary">Agregar imagen</a>
	    <a href="{% url 'shared_album_create' %}?id_album={{ object.pk }}" class="btn btn-primary">Compartir album</a>
    </p>

{% endblock content %}

</body>
</html>
