{% extends "lumina/base.html" %}
{% load lumina_extras %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina - Album list{% endblock %}</title>
</head>
<body>

{% block content %}

	<h3>Albumes de '{{ user.get_full_name }}'</h3>

    {% for album in object_list %}
		<div class="media">
		    <a class="pull-left" href="javascript:void(0);">
		        <img class="media-object" src="/static/album-icon-64x64.png">
		    </a>
		    <div class="media-body">
		        <div class="media-heading"><a
		               href="{% url 'album_detail' album.pk %}">{{ album.name }}</a>
		        </div>
		        <div>
                        <small>
                            <span class="badge badge-info">{{ album.image_set.count }}</span>
                            imagen{{ album.image_set.count|pluralize:",es" }}
                        </small>
                      -
                      <small>
                          Compartido con <span class="badge badge-info">{{ album.shared_with.count }}</span>
                          cliente{{ album.shared_with.count|pluralize:",s" }}.
                      </small>
		              -
		              <small>
		                  Compartido con <span class="badge badge-info">{{ album.shares_via_email.count }}</span>
	                      persona{{ album.shares_via_email.count|pluralize:",s" }} via email.
		              </small>
		        </div>
		        {% if album.user != user %}
			        <div>
	                    <i class="icon-user"></i> <small>Este album pertenece a
	                    '{{ album.user.get_full_name }}' ({{ album.user.username }})</small>
			        </div>
                {% endif %}
		    </div>
		</div>
		<hr>
    {% empty %}
       <p>No hay albumes...</p>
        <hr>
    {% endfor %}

    <p>
        <a href="{% url 'album_create' %}" class="btn btn-primary">Agregar album</a>
    </p>

    {% dump_objects user object_list %}

{% endblock content %}

</body>
</html>
