{% extends "lumina/base.html" %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina - {{ title }}{% endblock %}</title>
</head>
<body>

{% block content %}

    <h3>{{ title }}</h3>
    <form action="." method="post" {% if multipart %}enctype="multipart/form-data"{% endif %}>
        {% csrf_token %}
	    <table class="table">
            {% block pre_form_content %}
            {% endblock pre_form_content %}
            
	        {{ form.as_table }}
            {% if formset %}
                <tr>
                    <td colspan="2"><h5>{{ formset_title }}</h5></td>
                </tr>
                {{ formset.as_table }}
            {% endif %}
            
            {% block post_form_content %}
            {% endblock post_form_content %}

	        <tr>
               <td> </td>
	           <td>
                   <input type="submit" name="default_button"
                        value="{{ submit_label }}" class="btn btn-primary">

                   {% for extra_button in extra_buttons %}
                        {% if 'link_url' in extra_button %}
                            <a href="{{ extra_button.link_url}}"
                                class="btn btn-primary">{{ extra_button.link_label }}</a>
                        {% else %}
                            <input type="submit"
                                name="{{ extra_button.name }}"
                                value="{{ extra_button.submit_label }}"
                                class="btn btn-primary">
                        {% endif %}
                   {% endfor %}

               </td>
	        </tr>
		</table>
        
        {% block post_table_content %}
        {% endblock post_table_content %}

    </form>

{% endblock content %}

</body>
</html>
