{% load lumina_extras %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Lumina{% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"
		media="screen">
	<style type="text/css">
		ul.errorlist li {
			color: #e00;
		}
		
		.helptext {
			font-size: small;
			color: gray;
		}
		{% block css %}
		{% endblock %}
	</style>
</head>
<body>

	<div class="container">

		<div class="masthead" style="padding-top: 3px;">
			<div class="navbar">
				<div class="navbar-inner">
					<!-- <li class="active"> -->
					

					<ul class="nav">

						<li><a href="{% url 'home' %}">Lumina</a></li>

						{% if user.is_authenticated %}

															<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Albums <b class="caret"></b></a>
																<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">

                                                                                <!-- Items de drop-down  -->
																	          <li><a href="{% url 'album_list' %}">Lista de albumes</a></li>
                                                                                {% if user|user_is_photographer %} <!-- user is photographer -->
																						<li><a href="{% url 'album_create' %}">Agregar album</a></li>
																						<li><a href="{% url 'shared_album_create' %}">Compartir album</a></li>
                                                                                {% else %} <!-- user is client -->
		                                                                                <li><a href="{% url 'imageselection_list' %}"
		                                                                                    title="Lista de peticiones de seleccion de imagenes">Lista de peticiones...</a>
		                                                                                </li>
                                                                                {% endif %}

																</ul>
															</li>


                                                            {% if user|user_is_photographer %} <!-- user is photographer -->
																			<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Imagenes <b class="caret"></b></a>
																				<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">

																										<!-- Items de drop-down  -->
																										<li><a href="{% url 'image_list' %}">Lista de imagenes</a></li>
																										<li><a href="{% url 'image_create' %}">Agregar imagen</a></li>
                                                                                                        <li><a href="{% url 'test_html5_upload' %}">Crear album con vistas previas (Ajax)</a></li>
                                                                                                        

																				</ul>
																			</li>
																			<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Clientes <b class="caret"></b></a>
																				<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">

																										<!-- Items de drop-down  -->
																										<li><a href="{% url 'customer_list' %}">Lista de clientes</a></li>
																										<li><a href="{% url 'customer_create' %}">Agregar cliente</a></li>

																				</ul>
																			</li> 

							                                {% endif %} 


				                                            {% if user.is_staff or user.is_superuser %}

																		<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin <b class="caret"></b></a>
																			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">

																								<!-- Items de drop-down  -->
																								<li><a href="{% url 'admin:lumina_album_changelist' %}" target="_blank">Albums</a></li>
																								<li><a href="{% url 'admin:lumina_image_changelist' %}" target="_blank">Images</a></li>
																								<li><a href="{% url 'admin:lumina_sharedalbum_changelist' %}" target="_blank">Shared Albums</a></li>
																								<li><a href="{% url 'admin:lumina_imageselection_changelist' %}" target="_blank">Image Selection</a></li>

																			</ul></li>

				                                            {% endif %}

                        {% endif %}
                        </ul>


                        <ul class="nav pull-right">

		                            {% if user.is_authenticated %}

													<!-- Items de drop-down  -->
                                                    {% if user|user_is_photographer %} <!-- user is photographer -->
                                                            <li><a href="javascript:void(0);" title="Usuario: {{ user.username }}"><em><small>{{ user.get_full_name }} &nbsp; (fotografo)</small></em></a></li>
                                                    {% else %} <!-- user is client -->
                                                            <li><a href="javascript:void(0);" title="Usuario: {{ user.username }}"><em><small>{{ user.get_full_name }} &nbsp; (cliente)</small></em></a></li>
                                                    {% endif %}
                                                    <li><a href="{% url 'logout' %}">Salir</a></li>
													{% if 'twitter' in social_auth|non_empty_unicode_keys %}
												          <li><img alt="Logged in with Twitter" src="/static/twitter-icon-16x16.jpg"></li> 
													{% endif %}

				                        {% else	%} <!-- user.is_authenticated == False -->
				
				                                      <!-- Items de drop-down  -->
				                                      <li><a href="{% url 'django.contrib.auth.views.login' %}?next=/">Iniciar sesión</a></li>

				                        {% endif %}

                        </ul>

				</div>
				<!-- navbar inner -->
			</div>
		</div>
		<!-- END DIV.masthead -->

		{% for message in messages %} 
		
		{% if "error" in message.tags %}

		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<h4>Error!</h4>
			{{ message }}
		</div>

		{% elif "warning" in message.tags %}

		<div class="alert alert-block">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<h4>Atencion!</h4>
			{{ message }}
		</div>

		{% elif "success" in message.tags %}

		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<h4>Finalizado:</h4>
			{{ message }}
		</div>

		{% elif "info" in message.tags %}

		<div class="alert alert-info">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<h4>Informacion:</h4>
			{{ message }}
		</div>

		{% elif "debug" in message.tags %} {# the same as "INFO" #}
		<div class="alert alert-info">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<h4>Informacion:</h4>
			{{ message }}
		</div>

		{% else %} {# the same as "INFO" #}
		<div class="alert alert-info">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<h4>Informacion:</h4>
			{{ message }}
		</div>

		{% endif %} 
		{% endfor %} 
		
		{% block content %} 
		{% endblock content %}

	</div>
	<script src="/static/jquery-1.9.1.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	{% block javascript_bottom %} 
	{% endblock %}
</body>
</html>