{% load lumina_extras %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>{% block title %}Lumina{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- jquery UI -->
    <link rel="stylesheet" href="/static/lumina/jquery-ui-1.11.4/jquery-ui.min.css">

	<style type="text/css">
		ul.errorlist li {
			color: #e00;
		}

		.helptext {
			font-size: small;
			color: gray;
		}

        /*
         * https://google-webfonts-helper.herokuapp.com/fonts/roboto?subsets=latin,latin-ext
         */
        /* roboto-regular - latin-ext_latin */
        @font-face {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          src: local('Roboto'), local('Roboto-Regular'),
               url('/static/lumina/roboto-fonts/roboto-v15-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
               url('/static/lumina/roboto-fonts/roboto-v15-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
        }

        * {
            font-family: 'Roboto', sans-serif;
        }

        .ui-datepicker{
            z-index: 9999 !important;
        }

		{% block css %}
		{% endblock %}
	</style>

    <!-- JS should be loaded at the end of the BODY, but -->
    <script src="/static/lumina/js/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

    <!-- jquery UI -->
    <script src="/static/lumina/jquery-ui-1.11.4/jquery-ui.min.js"></script>
    <script src="/static/lumina/jquery-ui-1.11.4-datepicker-es.js"></script>

	{% block extra_headers %}
	{% endblock extra_headers %}

</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">Lumina</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

              {% if user.is_authenticated %}

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sesiones <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <!-- Items de drop-down  -->
                            {% if user.is_photographer %} <!-- user is photographer -->
                                    <li><a href="{% url 'session_list' %}">Sesiones activas</a></li>
                                    <li><a href="{% url 'session_search' %}">Buscar</a></li>
                                    <li><a href="{% url 'session_create' %}">Agregar sesión</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{% url 'imageselection_awaiting_customer_selection_list' %}">
                                        Selecciones de imágenes esperando selección de cliente</a>
                                    </li>
                                    <li><a href="{% url 'imageselection_with_pending_uploads_list' %}">
                                        Selecciones de imágenes esperando subida de fotos en calidad total</a></li>

                            {% else %} <!-- user is client -->
                                    <li><a href="{% url 'imageselection_available_for_customer_list' %}">
                                        Sesiones fotográficas disponibles</a>
                                    </li>
                                    <li><a href="{% url 'imageselection_awaiting_customer_selection_list' %}">
                                        Selecciones de imágenes esperando selección de cliente</a>
                                    </li>
                            {% endif %}
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Presupuestos <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">

                            {% if user.is_photographer %} <!-- user is photographer -->
                                    <li><a href="{% url 'quote_list' %}">Presupuestos activos</a></li>
                                    <li><a href="{% url 'quote_create' %}">Crear presupuesto</a></li>
                            {% else %} <!-- user is client -->
                            {% endif %}

                            {% if user.is_photographer %} <!-- user is photographer -->
                            {% else %} <!-- user is client -->
                                <li><a href="{% url 'quote_list_pending_for_customer' %}">Lista de presupuestos pendientes de aceptar</a></li>
                            {% endif %}

                            <li><a href="{% url 'quote_search' %}">Buscar presupuestos</a></li>

                        </ul>
                    </li>


                    {% if user.is_photographer %} <!-- user is photographer -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Imagenes <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">

                                <!-- Items de drop-down  -->
                                <li><a href="{% url 'image_list' %}">Buscar imagenes</a></li>

                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Clientes <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">

                                <!-- Items de drop-down  -->
                                <li><a href="{% url 'customer_list' %}">Lista de clientes</a></li>
                                <li><a href="{% url 'customer_create' %}">Agregar cliente</a></li>

                            </ul>
                        </li>

                    {% endif %}

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Configuración <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">

                                <!-- Items de drop-down  -->
                                <li><a href="{% url 'user_preferences_update' %}">Preferencias de usuario</a></li>
                                {% if user.is_photographer %}
                                    <li><a href="{% url 'customer_type_list' %}">Tipos de clientes</a></li>
                                    <li><a href="{% url 'session_type_list' %}">Tipos de sessiones</a></li>
                                    <li><a href="{% url 'preview_size_list' %}">Tamaños de previsualizacion</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{% url 'studio_user_list' %}">Listar fotógrafos</a></li>
                                    <li><a href="{% url 'studio_user_create' %}">Agregar fotógrafo</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{% url 'studio_update' %}">Estudio fotográfico</a></li>

                                {% endif %}
                            </ul>
                        </li>

                        {% if user.is_photographer %} <!-- user is photographer -->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Informes <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">

                                    <!-- Items de drop-down  -->
                                    <li><a href="{% url 'report_cost_vs_charged_by_customer_type' %}">Costo (hs) vs Monto cobrado ($)</a></li>
                                    <li><a href="{% url 'report_extended_quotes_through_time' %}">Presupuestos expandidos (en el tiempo)</a></li>
                                    <li><a href="{% url 'report_extended_quotes_by_customer' %}">Presupuestos expandidos (por cliente)</a></li>
                                    <li><a href="{% url 'report_income_by_customer_type' %}">Ingresos ($) por tipo de cliente</a></li>

                                </ul>
                            </li>
                        {% endif %}

                {% endif %}

      </ul>

      <ul class="nav navbar-nav navbar-right">

            {% if user.is_authenticated %}

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-expanded="false"><i
                            class="fa fa-bullhorn {% if user_notifications %}text-danger{% endif %}"></i>
                        <span class="badge {% if user_notifications %}alert-danger{% endif %}">{{ user_notifications|length }}</span>
                    </a>

                    <ul class="dropdown-menu" role="menu">
                        <!-- Items de drop-down  -->
                        {% if user_notifications %}
                            {% for notification in user_notifications %}
                                <li><a href="{{notification.link}}">{{notification.message}}</a></li>
                            {% endfor %}
                        {% else %}
                            <li><a href="#"><em class="text-muted">No hay notificaciones</em></a></li>
                        {% endif %}
                    </ul>
                </li>

                <!-- Items de drop-down  -->
                {% if user.is_photographer %} <!-- user is photographer -->
                        <!-- <li><a href="javascript:void(0);" title="Usuario: {{ user.username }}"><em>
                            <small>{{ user.get_full_name }} &nbsp; (fotografo)</small></em></a></li> -->
                        <li style="max-height:30px; width:auto; vertical-align:middle;"><a
                                href="javascript:void(0);"
                                title="{{ user.get_full_name }} ({{ user.username }}) - fotografo"><img
                                style="margin-top: -7px;" src="/static/lumina/img/avatar-photographer-32.png"></a></li>
                {% else %} <!-- user is client -->
                        <!-- <li><a href="javascript:void(0);" title="Usuario: {{ user.username }}"><em>
                            <small>{{ user.get_full_name }} &nbsp; (usuario)</small></em></a></li> -->
                        <li style="max-height:30px; width:auto; vertical-align:middle;"><a
                                href="javascript:void(0);"
                                title="{{ user.get_full_name }} ({{ user.username }}) - usuario"><img
                                style="margin-top: -7px;" src="/static/lumina/img/avatar-customer-32.png"></a></li>
                {% endif %}

                <li><a href="{% url 'logout' %}">Salir</a></li>

            {% else	%} <!-- user.is_authenticated == False -->

                  <!-- Items de drop-down  -->
                  <li><a href="{% url 'login' %}?next=/">Iniciar sesión</a></li>

            {% endif %}

      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>







<div class="container">

    {% for message in messages %}

        {% if "error" in message.tags %}

        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Error!</h4>
            {{ message }}
        </div>

        {% elif "warning" in message.tags %}

        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Atencion!</h4>
            {{ message }}
        </div>

        {% elif "success" in message.tags %}

        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Finalizado:</h4>
            {{ message }}
        </div>

        {% elif "info" in message.tags %}

        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Informacion:</h4>
            {{ message }}
        </div>

        {% elif "debug" in message.tags %} {# the same as "INFO" #}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Informacion:</h4>
            {{ message }}
        </div>

        {% else %} {# the same as "INFO" #}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Informacion:</h4>
            {{ message }}
        </div>

        {% endif %}

    {% endfor %}

    {% block content %}
    {% endblock content %}

</div>


<footer>
    <div class="container">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <hr>
        <p class="text-muted text-center"><small>
            Icons made by
            <a href="http://www.freepik.com" title="Freepik">Freepik</a>
            from
            <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>
            is licensed under
            <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
        </small></p>
    </div>
</footer>

<script type="application/javascript">

    $(document).ready(function() {
        $.datepicker.setDefaults($.datepicker.regional["es"]);
        $(".force-datepicker").datepicker();
    });

</script>

{% block javascript_bottom %}
{% endblock %}

</body>
</html>
