{% extends "lumina/base.html" %}
{% load lumina_extras %}

{% block content %}

	<h3>Tipos de clientes disponibles</h3>

    <table class="table">
        {% for customer_type in object_list %}
            <tr>
                <td width="10%">
                    <a href="{% url 'customer_type_update' customer_type.id %}">Edit</a>
                </td>
                <td width="90%">
                    {{customer_type.name}}
                </td>
            </tr>
        {% empty %}
            <tr><td>No se ha definido ningun tipo de cliente</td></tr>
        {% endfor %}
    </table>

    <a href="{% url 'customer_type_create' %}" class="btn btn-primary">Nuevo tipo de cliente</a>

{% endblock content %}
