{% extends "lumina/base.html" %}
{% load lumina_extras %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina - Usuarios{% endblock %}</title>
</head>
<body>

{% block content %}

    <h3>Usuarios para cliente {{ customer }}</h3>

    {% for an_user in object_list %}
        <div class="media">
            <a class="pull-left" href="javascript:void(0);">
                <img class="media-object" src="/static/lumina/img/user-64.png">
            </a>
            <div class="media-body">
                <div class="media-heading"><a
                       href="{% url 'customer_user_update' an_user.id %}">{{ an_user.get_full_name }}</a>
                       {% if not an_user.is_active %}
                          <div>
                              <span class="label label-warning">Deshabilitado</span>
                              <small>El usuario no podrá loguearse.</small>
                          </div>
                       {% endif %}
                </div>
                <div>
                      <small>
                          <i class="icon-envelope"></i> <a href="mailto:{{ an_user.email }}">{{ an_user.email }}</a>
                          <br>
                          <i class="icon-user"></i> {{ an_user.username }}
                          -
                          Último acceso: hace {{ an_user.last_login|timesince }}
                      </small>
                </div>
            </div>
        </div>
        <hr>
    {% empty %}
       <p>No hay clientes registrados...</p>
        <hr>
    {% endfor %}

    <p>
        <a href="{% url 'customer_user_create' customer.id %}" class="btn btn-primary">Agregar usuario</a>
    </p>

    {% dump_objects user object_list %}

{% endblock content %}

</body>
</html>
