{% extends "lumina/base.html" %}
{% load lumina_extras %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina - Lista de clientes{% endblock %}</title>
</head>
<body>

{% block content %}


	<h3>Clientes</h3>

    <table class="table">

        <tr>
            <th width="65%">
                Nombre
            </th>
            <th width="20%">
                Tipo
            </th>
            <th width="10%">
                Teléfono
            </th>
            <th width="5%">
                Usuarios
            </th>
        </tr>

        {% for customer in object_list %}
            <tr>
                <td>
                    <a href="{% url 'customer_update' customer.id %}">{{ customer.name }}</a>
                </td>
                <td>
                    <span class="text-nowrap">{{ customer.customer_type.name }}</span>
                </td>
                <td>
                    <span class="text-nowrap">{{ customer.phone }}</span>
                </td>
                <td>
                    <div class="text-nowrap">
                        {{ customer.users.count }}
                        ·
                        <a href="{% url 'customer_user_list' customer.id %}">Listar</a>
                    </div>

                </td>
            </tr>
        {% empty %}
            <tr><td colspan="4">No se ha registrado ningún cliente</td></tr>
        {% endfor %}


    </table>

    <a href="{% url 'customer_create' %}" class="btn btn-primary">Nuevo cliente</a>

    {% dump_objects user object_list %}

{% endblock content %}

</body>
</html>
