{% extends "lumina/base.html" %}
{% load lumina_extras %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina - Usuarios{% endblock %}</title>
</head>
<body>

{% block content %}

	<h3>Clientes de '{{ user.get_full_name }}'</h3>

    {% for customer in object_list %}
		<div class="media">
		    <a class="pull-left" href="javascript:void(0);">
		        <img class="media-object" src="/static/album-icon-64x64.png">
		    </a>
		    <div class="media-body">
		        <div class="media-heading"><a
		               href="{% url 'customer_update' customer.id %}">{{ customer.name }}</a>
		        </div>
		        <div>
		              <small>
                          <i class="icon-user"></i> {{ customer.phone }}
		              </small>
		        </div>
		    </div>
		</div>
		<hr>
    {% empty %}
       <p>No hay clientes registrados...</p>
        <hr>
    {% endfor %}

    <p>
        <a href="{% url 'customer_create' %}" class="btn btn-primary">Agregar cliente</a>
    </p>

    {% dump_objects user object_list %}

{% endblock content %}

</body>
</html>
