{% extends "lumina/base.html" %}
{% load lumina_extras %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina - Peticiones de selección de imágenes{% endblock %}</title>
</head>
<body>

{% block content %}

	{% block imageselection_page_title %}{% endblock imageselection_page_title %}

    <table class="table">

        <tr>
            <th width="40%">Sesión fotográfica</th>
            <th width="20%" class="text-right">Estado</th>
            <th width="20%" class="text-right">Cant. fotos permitidas</th>
            {% if for_pending_uploads %}
                <th width="20%" class="text-right">Pendientes de subir</th>
            {% endif %}
        </tr>

        {% for pet in object_list %}
            <tr>
                <td>
                    {% if for_pending_uploads %}
                        <!-- Point to pending-uploads view -->
                        <a href="{% url 'imageselection_upload_pending_automatic' pet.id %}">
                            <strong>Sesión</strong>:
                                {{ pet.session.name }}</a>
                        <br>
                        <small><a href="{% url 'imageselection_upload_pending_manual' pet.id %}">
                            Selección manual
                        </a></small>
                    {% else %}
                        <!-- Point to image-selection view -->
                        <a href="{% url 'imageselection_redirect' pet.id %}">
                            <strong>Sesión</strong>:
                                {{ pet.session.name }}</a>
                    {% endif %}
                </td>
                <td class="text-right">{{ pet.get_status_display }}</td>
                <td class="text-right">{{ pet.image_quantity }}</td>
                {% if for_pending_uploads %}
                    <td class="text-right">
                        {{ pet.get_selected_images_without_full_quality|length }}
                    </td>
                {% endif %}
            </tr>
        {% empty %}

            {% if for_pending_uploads %}
                <tr>
                    <td colspan="4">No hay peticiones a mostrar</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No hay peticiones a mostrar</td>
                </tr>
            {% endif %}

        {% endfor %}
    </table>

{% endblock content %}

</body>
</html>
<!-- -->