{% extends "lumina/base.html" %}
{% load lumina_extras %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina - Peticiones de selección de imágenes{% endblock %}</title>
</head>
<body>

{% block content %}

	<h3>Peticiones de selección de imágenes para '{{ user|full_name_with_username }}'</h3>

    {% for pet in object_list %}
		<div class="media">
		    <a class="pull-left" href="javascript:void(0);">
		        <img class="media-object" src="/static/album-icon-64x64.png">
		    </a>
		    <div class="media-body">
		        <div class="media-heading"><a
		               href="{% url 'imageselection_redirect' pet.id %}"><strong>Sesión</strong>:
		               		{{ pet.session.name }}</a> <br>
                       <small><strong>Estado</strong>: {{ pet.get_status_display }}</small> <br>
						<small><strong>Cant. de imagenes permitidas:</strong>
							{{ pet.image_quantity }}</small><br>
                       
		        </div>
		    </div>
		</div>
		<hr>
    {% empty %}
       <p>No hay peticiones...</p>
    {% endfor %}

    {% dump_objects user object_list %}

{% endblock content %}

</body>
</html>
