{% extends "lumina/base.html" %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina - Agregar imagen{% endblock %}</title>
</head>
<body>

    {% block content %}

    <h3>Agregar imagen // HTML5 + client-side thumbnail</h3>
    <form action="." method="post" enctype="multipart/form-data">
        <!-- { % csrf_token % } -->
        <table class="table">

            <tr>
                <td>Imagenes</td>
                <td>
                    <input id="fileinput" type="file" name="images" multiple>
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <!--
                    <input type="button" value="Subir inmediatamente" class="btn btn-primary">
                    -->
                    <a href="javascript:void(0);" onclick="queue_for_upload();" class="btn btn-primary">Subir
                        previsualizacion</a>
                </td>
            </tr>
        </table>
    </form>

    <div id="thumbnails_preview">
    </div>

    <ul id="status"></ul>

    {% endblock content %} {% block javascript_bottom %}
    <script type="text/javascript">
					function add_preview_img_error(non_image_file) {
						var status = $('#status');
						var li = document.createElement("li");
						li.className = "text-error";
						li.textContent = "" + non_image_file.name
								+ " no es una imagen valida";
						status.append(li);
					}

					function add_preview_img(image_file, img) {
						var thumbnails = $('#thumbnails_preview')[0];
						var tmp;

						var url = resizeMe(img, 400, 400, 0.5);
						console.info("URL: " + url)

						/*
						var li = document.createElement("li");
						//li.className = "span4";

						var div = document.createElement("div");
						div.className = "thumbnail text-center";
						li.appendChild(div);

						var newImg = document.createElement("img");
						newImg.src = url;
						div.appendChild(newImg);
						document.TEMP.push(url);

						var filename = document.createElement("small");
						filename.textContent = "" + image_file.name + "";
						tmp = document.createElement("div");
						tmp.appendChild(filename);
						div.appendChild(tmp);

						var filesize = document.createElement("small");
						filesize.textContent = "" + image_file.size + " bytes";
						tmp = document.createElement("div");
						tmp.appendChild(filesize);
						div.appendChild(tmp);

						var imgsize = document.createElement("small");
						imgsize.textContent = img.width + "x" + img.height;
						tmp = document.createElement("div");
						tmp.appendChild(imgsize);
						div.appendChild(tmp);
						thumbnails.append(li);
						 */

						//
						// 1st DIV
						//
						var div = document.createElement("div");
						var newImg = document.createElement("img");
						newImg.src = url;
						newImg.className = "img-polaroid";
						div.appendChild(newImg);
						document.TEMP.push(url);
						thumbnails.appendChild(div);

						//
						// 2nd DIV
						//
						div = document.createElement("div");

						// File
						var small = document.createElement("small");
						tmp = document.createElement("strong");
						tmp.textContent = "File: ";
						small.appendChild(tmp);

						tmp = document.createElement("span");
						tmp.textContent = "" + image_file.name + " - ";
						small.appendChild(tmp);

						// File size
						tmp = document.createElement("strong");
						tmp.textContent = "Size: ";
						small.appendChild(tmp);

						tmp = document.createElement("span");
						tmp.textContent = "" + image_file.size + " - ";
						small.appendChild(tmp);

						// Img. dimensions
						tmp = document.createElement("strong");
						tmp.textContent = "Dimensions: ";
						small.appendChild(tmp);

						tmp = document.createElement("span");
						tmp.textContent = "" + img.width + "x" + img.height;
						small.appendChild(tmp);

						div.appendChild(small);
						thumbnails.appendChild(div);

						var hr = document.createElement("hr");
						thumbnails.appendChild(hr);

					}

					// https://github.com/josefrichter/resize/blob/master/public/preprocess.js
					function resizeMe(img, max_width, max_height, quality) {

						// Initially, W & H has original size
						var width = img.width;
						var height = img.height;

						// calculate the width and height, constraining the proportions
						if (width > height) {
							if (width > max_width) {
								//height *= max_width / width;
								height = Math
										.round(height *= max_width / width);
								width = max_width;
							}
						} else {
							if (height > max_height) {
								//width *= max_height / height;
								width = Math
										.round(width *= max_height / height);
								height = max_height;
							}
						}

						// Now, W & H has the size for preview

						// resize the canvas and draw the image data into it
						var canvas = document.createElement('canvas');
						canvas.width = width;
						canvas.height = height;
						var ctx = canvas.getContext("2d");
						ctx.drawImage(img, 0, 0, width, height);

						// xhgdeorox // preview.appendChild(canvas); // do the actual resized preview
						console.info("Canvas: " + canvas);

						// get the data from canvas as 70% JPG (can be also PNG, etc.)
						// return canvas.toDataURL("image/jpeg", 0.7);
						var dataUrl = canvas.toDataURL("image/jpeg", quality);
						console.info("dataUrl: " + dataUrl);
						return dataUrl;
					}

					function process_image_file(image_file) {
						var img = document.createElement("img");
						img.src = window.URL.createObjectURL(image_file);

						// http://stackoverflow.com/questions/12570834/how-can-i-get-the-file-size-image-height-and-width-before-upload
						img.onerror = function() {
							add_preview_img_error(image_file);
						};

						img.onload = function() {
							add_preview_img(image_file, this);
						};
					}

					function show_thumbnail() {
						document.TEMP = new Array();
						$('#thumbnails_preview').empty();
						$('#status').empty();
						var fileInput = $("#fileinput")[0];
						var fileList = fileInput.files;
						var filesToUpload = fileList;
						for (x = 0; x < filesToUpload.length; x++) {
							var fileToUpload = filesToUpload[x];
							process_image_file(fileToUpload);
						}
					}

					function queue_for_upload() {
						var images = {};
						for (i = 0; i < document.TEMP.length; i++) {
							images['img' + i] = document.TEMP[i];
							console.info("URL[" + i + "]=" + document.TEMP[i]);
						}

						$.ajax({
							type : "POST",
							url : "{% url 'test_html5_upload_ajax' %}",
							data : images
						}).done(function(msg) {
							alert("Data Saved: " + msg);
						}).fail(function(msg) {
							alert("ERROR");
						});

					}

					$(document).ready(function() {
						$('#fileinput').bind('change', show_thumbnail);
					});
				</script>
    {% endblock %}

</body>
</html>
