{% extends "lumina/base.html" %}
{% load lumina_extras %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina - Peticiones de selección de imágenes de la sesión {{ object.session.name }}{% endblock %}</title>
</head>
<body>

<!--
	This template shows an instance of ImageSelection
	to the customer, to let him select the images he/she wants.
-->

{% block content %}

    <h3>Peticiones de selección de imágenes</h3>

	<h4><strong>Sesión:</strong> {{ object.session.name }}</h4>

	<small><strong>Estado:</strong>
		{{ object.get_status_display }}</small><br>

	<small><strong>Compartido con:</strong>
		{{ object.customer.name }}</small><br>

	<small><strong>Cant. de imágenes permitidas:</strong>
		{{ object.image_quantity }}</small><br>

    <h5>Imágenes la sesión:</h5>

       <form method="post">
	    {% for image in object.session.image_set.all %}
		   {% image_selection_item object image %}
		   <hr>
	    {% empty %}
	        <p>La sesión no posee imágenes...</p>
		    <hr>
	    {% endfor %}
        <input type="submit" value="Seleccionar" class="btn btn-primary">
           {% csrf_token %}
       </form>

{% endblock content %}

{% block javascript_bottom %}
	<script type="text/javascript">
	</script>
{% endblock %}

</body>
</html>
