{% extends "lumina/base.html" %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina - Image list{% endblock %}</title>
</head>
<body>

{% block content %}

	<h1>Imagenes para '{{ user }}'</h1>

    <table class="table">
		{% for image in object_list %}
            <tr>
                <td width="20%"><img src="{% url 'image_thumb' image.pk %}"></td>
                <td width="80%"><a href="{% url 'image_detail' image.pk %}">{{ image }}</a></td>
            </tr>
		{% empty %}
		    <tr><td>No images...</td></tr>
		{% endfor %}
    </table>
    
{% endblock content %}

</body>
</html>
