{% extends "lumina/base.html" %}
{% load lumina_extras %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina - Peticiones de selección de imágenes{% endblock %}</title>
</head>
<body>

{% block content %}

	<h3>Peticiones de selección de imágenes para '{{ user|full_name_with_username }}'</h3>

    {% for pet in object_list %}
		<div class="media">
		    <a class="pull-left" href="javascript:void(0);">
		        <img class="media-object" src="/static/album-icon-64x64.png">
		    </a>
		    <div class="media-body">
		        <div class="media-heading">
                {% if for_pending_uploads %}
                    <!-- Point to pending-uploads view -->
                    <a href="{% url 'imageselection_upload_pending' pet.id %}">
                        <strong>Sesión</strong>:
                            {{ pet.session.name }}</a>
                {% else %}
                    <!-- Point to image-selection view -->
                    <a href="{% url 'imageselection_redirect' pet.id %}">
                        <strong>Sesión</strong>:
                            {{ pet.session.name }}</a>
                {% endif %}
                <br>

               <small><strong>Estado</strong>: {{ pet.get_status_display }}</small> <br>

				<small><strong>Cant. de imagenes permitidas:</strong>
					{{ pet.image_quantity }}</small><br>

                {% if for_pending_uploads %}
                    {% with count=pet.get_selected_images_without_full_quality|length %}
                        <span class="badge badge-important">{{ count }}</span>
                        <small> {{count|pluralize:"imagen,imágenes"}} en calidad total
                            pendientes de ser subidas</small><br>
                    {% endwith %}
                {% endif %}

                <i class="icon-calendar"></i>
                    <small>
                        <em>Fecha de creación: {{pet.created|date}}
                        - Última actualización: {{pet.last_modified|date}}
                        </em>
                    </small>

		        </div>
		    </div>
		</div>
		<hr>
    {% empty %}
       <p>No hay peticiones...</p>
    {% endfor %}

    {% dump_objects user object_list %}

{% endblock content %}

</body>
</html>
