{% extends "lumina/base.html" %}
{% load lumina_extras %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina - Peticiones de selección de imágenes{% endblock %}</title>
</head>
<body>

{% block content %}

	<h3>Peticiones de selección de imágenes para '{{ user.get_full_name }}'</h3>

    {% for pet in object_list %}
		<div class="media">
		    <a class="pull-left" href="javascript:void(0);">
		        <img class="media-object" src="/static/album-icon-64x64.png">
		    </a>
		    <div class="media-body">
		        <div class="media-heading"><a
		               href="{% url 'imageselection_select_images' pet.id %}"><strong>Album</strong>: {{ pet.album.name }}</a> <br>
                       <small><strong>Estado</strong>: {{ pet.get_status_display }}</small>
		        </div>
		    </div>
		</div>
		<hr>
    {% empty %}
       <p>No hay peticiones...</p>
        <hr>
    {% endfor %}

    {% dump_objects user object_list %}

{% endblock content %}

</body>
</html>
