{% extends "lumina/base.html" %}
{% load lumina_extras %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina - Peticiones de selección de imágenes de album {{ object.album.name }}{% endblock %}</title>
</head>
<body>

<!--
	This template shows an 'read-only' version of ImageSelection
	(for both photographers and customers)
-->

{% block content %}

    <h3>Peticiones de selección de imágenes</h3>

	<h4><strong>Sesión:</strong> {{ object.session.name }}</h4>

    {% if object.quote %}
	    <h4>
            <strong>Presupuesto:</strong>
            <a href="{% url 'quote_detail' object.quote.id %}">{{ object.quote.name }}</a>
        </h4>
    {% endif %}

	<small><strong>Estado:</strong>
		{{ object.get_status_display }}</small><br>

	<small><strong>Compartido con:</strong>
		{{ object.customer.name }}</small><br>

	<small><strong>Cant. de imagenes permitidas:</strong>
		{{ object.image_quantity }}</small><br>

    {% if user.is_photographer %}
        <small><strong>Tamaño max. de previsualizaciones:</strong>
            {{ object.preview_size }}</small><br>
    {% endif %}

    <h5>Imágenes de la sesión:</h5>

    {% for image in images_to_show %}
        {% image_selection_item object image %}
        <hr>
    {% empty %}
        <p>No hay imagenes para mostrar...</p>
    {% endfor %}

    {% if show_download_selected_as_zip_button %}
        <a href="{% url 'image_selection_download_selected_as_zip' object.pk %}"
            class="btn btn-primary">Bajar todas las imagenes seleccionadas por el cliente</a>
    {% endif %}

{% endblock content %}

{% block javascript_bottom %}

{% endblock %}

</body>
</html>
