{% extends "lumina/base.html" %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina - Agregar imagen{% endblock %}</title>
</head>
<body>

	{% block content %}

	<h3>Agregar imagen // HTML5 + client-side thumbnail</h3>
	<form action="." method="post" enctype="multipart/form-data">
		<!-- { % csrf_token % } -->
		<table class="table">

			<tr>
				<td>Imagenes</td>
				<td><input type="file" name="images" multiple></td>
			</tr>

			<tr>
				<td></td>
				<td>
					<input type="button" value="Subir inmediatamente" class="btn btn-primary">
					<a href="javascript:void(0);" onclick="subir_previsualizacion();"
						class="btn btn-primary">Subir previsualizacion</a>
				</td>
			</tr>
		</table>
	</form>

	{% endblock content %}

	{% block javascript_bottom %}

	<script type="text/javascript">
	function subir_previsualizacion() {
		alert("ok");
	}	
	</script>
	{% endblock %}

</body>
</html>
