{% extends "lumina/base.html" %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina - Agregar imagen{% endblock %}</title>
</head>
<body>

{% block content %}

    <h1>Agregar/Editar imagen</h1>
    <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
	    <table class="table">
	        {{ form.as_table }}
	        <tr>
               <td> </td>
	           <td><input type="submit" value="Agregar / Actualizar" class="btn btn-primary"></td>
	        </tr>
		</table>
    </form>

{% endblock content %}

</body>
</html>
