{% extends "lumina/base.html" %} {% load lumina_extras %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}
    Lumina - Peticiones de selección de imágenes de album {{ object.album.name }}
    {% endblock %}</title>
</head>
<body>

    <!--
    This template shows an 'read-only' version of ImageSelection
    (for both photographers and customers)
-->

{% block content %}

	<div class="modal" id="thumbnail_generation_modal" tabindex="-1">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<h3>Generando checksums...</h3>
		  </div>
		  <div class="modal-body">

                <table class="table">

                    <tr>
                        <td colspan="2">

                            <div class="progress">
                              <div class="progress-bar progress-bar-striped active"
                                   role="progressbar" style="width: 0%" id="thumbnail_loading_progress">
                              </div>
                            </div>

                        </td>
                    </tr>

                    <tr>
                        <th width="5%">Files:</th>
                        <td>
                            <span id="thumbnail_total_files_count"></span>
                        </td>
                    </tr>
                    <tr>
                        <th width="5%">Processed:</th>
                        <td>
                            <span id="thumbnail_files_processed"></span>
                        </td>
                    </tr>
                </table>

		  </div>
		  <div class="modal-footer">
				<button class="btn btn-primary disabled"
						id="thumbnail_generation_modal_close_button">Cerrar</button>
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->



	<div class="modal" id="ajax_upload_modal" tabindex="-1">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<h3>Subiendo archivos...</h3>
		  </div>
		  <div class="modal-body">

                <table class="table">

                    <tr>
                        <td colspan="2">

                            <div class="progress">
                              <div class="progress-bar progress-bar-striped active"
                                   role="progressbar" style="width: 0%" id="ajax_upload_progress_bar">
                              </div>
                            </div>

                        </td>
                    </tr>

                    <tr>
                        <th width="5%">Files:</th>
                        <td>
                            <span id="ajax_upload_total_files_count"></span>
                        </td>
                    </tr>
                    <tr>
                        <th width="5%">Processed:</th>
                        <td>
                            <span id="ajax_upload_files_processed"></span>
                        </td>
                    </tr>
                </table>

		  </div>
		  <div class="modal-footer">
				<button class="btn btn-primary disabled"
						id="ajax_upload_dialog_close_button">Cerrar</button>
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->



    <h3>Peticiones de selección de imágenes de la sesión {{ object.session.name }}</h3>

    <small><strong>Sesión:</strong> {{ object.session.name }}</small>
    <br>

    <small><strong>Estado:</strong> {{ object.get_status_display }}</small>
    <br>

    {% if selected_images_without_full_quality %}
        <h5>Vistas previas de las imágenes de la sesión:</h5>

        <table class="table">
            {% for image in selected_images_without_full_quality %}
            <tr>
                <td width="1%">
                    <i class="fa fa-question-circle icon-image-md5sum-{{image.original_file_checksum}}"></i>
                </td>
                <td width="1%">
                    <div class="media">
                        <a class="pull-left" href="javascript:void(0);"> <img class="media-object"
                            src="{% url 'image_thumb_64x64' image.pk %}" style="min-width: 80px;">
                        </a>
                    </div>
                </td>
                <td width="99%">
                    <h4>
                        {% if image.image %}
                            {{ image.original_filename }}
                        {% else %}
                            {{ image.thumbnail_original_filename }}
                        {% endif %}
                    </h4>
                    <div style="display: none;" data-image-id="{{image.id}}">
                        <div id="original-filename-{{image.id}}"
                             data-value="{{image.original_filename}}"></div>
                        <div id="original-file-checksum-{{image.id}}"
                             data-value="{{image.original_file_checksum}}"></div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>

        <form>
            <table class="table">

                <tr class="formControlRow">
                    <td>Imagenes</td>
                    <td>
                        <input id="fileInput" type="file" name="images" multiple>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <button class="btn btn-primary disabled"
                                id="formSubmitButton">Subir imágenes</button>
                    </td>
                </tr>

            </table>
        </form>

    {% else %}

        <p>Todas las fotografías han sido subidas.</p>

    {% endif %}

    <ul id="status"></ul>

{% endblock content %}

{% block javascript_bottom %}
<script type="text/javascript">

$(document).ready(function() {

    document.PREVIEW_ONLY_IMAGES_BY_CHECKSUM = {};

	$('*[data-image-id]').each(function(index, element) {
        var imageId = $(element).data('image-id');
        var checksum = $('#original-file-checksum-' + imageId).data('value');
        var originalFilename = $('#original-filename-' + imageId).data('value');
        console.log("  + checksum: " + checksum);
        console.log("  + originalFilename: " + originalFilename);
        document.PREVIEW_ONLY_IMAGES_BY_CHECKSUM[checksum] = {
            imageId: imageId,
            checksum: checksum,
            originalFilename: originalFilename,
            uploadFilename: null,
        };
    });

    $('#fileInput').bind('change', generateAndShowThumbnails);

});

</script>

<!-- FROM: https://github.com/satazor/SparkMD5 -->
<script src="/static/lumina/js/spark-md5.min.js"></script>

<script type="text/javascript">

function matchNewUploadsToPendingImagesByMd5sum() {

    console.info("matchNewUploadsToPendingImagesByMd5sum(): length: " + Object.keys(document.PREVIEW_ONLY_IMAGES_BY_CHECKSUM).length);
    for(var checksum in document.PREVIEW_ONLY_IMAGES_BY_CHECKSUM) {
        var anImageToUpload = document.PREVIEW_ONLY_IMAGES_BY_CHECKSUM[checksum];

        if(document.LUM_FILES_TO_UPLOAD_MD5SUM[checksum]) {
            console.info("matchNewUploadsToPendingImagesByMd5sum(): FOUND image with checksum " + checksum);
            anImageToUpload.uploadFilename = document.LUM_FILES_TO_UPLOAD_MD5SUM[anImageToUpload.checksum].fileName;
            anImageToUpload.file = document.LUM_FILES_TO_UPLOAD_MD5SUM[anImageToUpload.checksum].file;
            $('.icon-image-md5sum-' + anImageToUpload.checksum).removeClass("fa-question-circle").addClass("fa-check-square-o");
        } else {
            console.info("matchNewUploadsToPendingImagesByMd5sum(): NOT FOUND image with checksum " + checksum);
            $('.icon-image-md5sum-' + anImageToUpload.checksum).removeClass("fa-question-circle").addClass("fa-minus-square-o");
        }
    }

}

function onFinishedLoadingThumbnails() {
    $('#thumbnail_generation_modal_close_button').removeClass('disabled');
    $('#thumbnail_generation_modal_close_button').click(function() {
        $('#thumbnail_generation_modal').modal('hide');
    });

    $('#thumbnail_loading_progress').removeClass('active');

    $('#formSubmitButton').removeClass('disabled');
    $('#formSubmitButton').click(uploadThumbnails);

    matchNewUploadsToPendingImagesByMd5sum();
}

// EX: showStatisticsDialog()
function showThumbnailGenerationProgressDialog() {
	$('#thumbnail_total_files_count')[0].textContent = '' + document.LUM_TOTAL_FILE_COUNT;
	$('#thumbnail_files_processed')[0].textContent = '0';

	$('#thumbnail_generation_modal').modal({
		backdrop : 'static',
		keyboard : false
	});
}

/**
 * Update statistics on dialog model
 */
// EX: updateStatistics()
function updateThumbnailGenerationProgressDialog() {
	var processsedCount = document.LUM_TOTAL_FILE_COUNT - document.FILES.length;
	$('#thumbnail_files_processed')[0].textContent = '' + processsedCount;

	var progressPercent = ((processsedCount / document.LUM_TOTAL_FILE_COUNT) * 100);
	$('#thumbnail_loading_progress').width("" + progressPercent + "%");

}

/**
 * This method is called for each of the files selected by the user
 * that are NOT images.
 *
 * @See generateThumbnailAndAppendToHtml: called when the file IS an image
 */
function appendErrorMessageFileIsNotAnImage(non_image_file) {
	var status = $('#status');
	var li = document.createElement("li");
	li.className = "text-danger";
	li.textContent = "" + non_image_file.name + " no es una imagen valida";
	status.append(li);

	window.setTimeout(recursiveThumbnailGeneration, 1);
}

/**
 * This method is called for each of the files/images selected by the user,
 * when the file is a image.
 *
 * @See appendErrorMessageFileIsNotAnImage: called when the file is NOT an image
 */
function generateThumbnailAndAppendToHtml(image_file, img) {

	var reader = new FileReader();
	reader.onload = function(event) {
		var binary = event.target.result;
		var spark = new SparkMD5();
		spark.appendBinary(binary);
		var hexHash = spark.end();

        if(document.PREVIEW_ONLY_IMAGES_BY_CHECKSUM[hexHash]) {
		    console.log("SparkMD5.hash(): md5sum of '" + image_file.name + "' is for a PENDING UPLOAD: " + hexHash);
            document.LUM_FILES_TO_UPLOAD_MD5SUM[hexHash] = {
                fileName: image_file.name,
                binaryContents: binary,
                file: image_file
            };
        } else {
		    console.log("SparkMD5.hash(): md5sum of '" + image_file.name + "' is NOT for a PENDING UPLOAD: " + hexHash);
        }

		window.setTimeout(recursiveThumbnailGeneration, 1);
	};

	reader.readAsBinaryString(image_file);
}


//function resizeImage(img, max_width, max_height, quality) {
//}

// EX: processFile()
function recursiveThumbnailGeneration() {
    updateThumbnailGenerationProgressDialog();
	var imageFile = document.FILES.shift();

	if(typeof(imageFile) == 'undefined') {
		onFinishedLoadingThumbnails();
		return;
	};

	var img = document.createElement("img");
	img.src = window.URL.createObjectURL(imageFile);

	/* http://stackoverflow.com/questions/12570834/how-can-i-get-the-file-size-image-height-and-width-before-upload */
	img.onerror = function() {
		appendErrorMessageFileIsNotAnImage(imageFile);
	};

	img.onload = function() {
		generateThumbnailAndAppendToHtml(imageFile, this);
	};
}

/**
 * Executed when the user selects the files, loads the
 * files contents and calculates the checksum.
 */
function generateAndShowThumbnails() {
	document.FILES = new Array();
    //	document.LUM_PREVIEW_IMAGES = new Array();
    //	document.LUM_PREVIEW_FILENAMES = new Array();
    //	document.LUM_SUM_SIZE_ORIGINAL = 0;
    //	document.LUM_SUM_SIZE_PREVIEW = 0;
	document.LUM_TOTAL_FILE_COUNT = 0;
	$('#status').empty();

    document.LUM_FILES_TO_UPLOAD_MD5SUM = {};

	var selectedFiles = $("#fileInput")[0].files;
	if (selectedFiles.length <= 0)
		return;

	$('.formControlRow').toggle();
	document.LUM_TOTAL_FILE_COUNT = selectedFiles.length;
	showThumbnailGenerationProgressDialog(); // uses 'document.LUM_TOTAL_FILE_COUNT'

	var i;
	for (i = 0; i < selectedFiles.length; i++) {
		document.FILES.push(selectedFiles[i]);
	}

	recursiveThumbnailGeneration();
}

/*
 * ==========================================================================================
 * Uploading of images
 * ==========================================================================================
 */

function showAjaxUploadProgressDialog(totalUploadCount) {
	$('#ajax_upload_total_files_count')[0].textContent = '' + totalUploadCount;
	$('#ajax_upload_files_processed')[0].textContent = '0';

	$('#ajax_upload_modal').modal({
		backdrop : 'static',
		keyboard : false
	});
}

function updateAjaxUploadProgressDialog(imagesToUpload) {
    var total = parseInt($('#ajax_upload_total_files_count')[0].textContent);
    var processsedCount = total - imagesToUpload.length;

    $('#ajax_upload_files_processed')[0].textContent = '' + processsedCount;

    var progressPercent = ((processsedCount / total) * 100);
    $('#ajax_upload_progress_bar').width("" + progressPercent + "%");

}

function onFinishedUploadingImages() {

    $('#ajax_upload_dialog_close_button').removeClass('disabled');
    $('#ajax_upload_dialog_close_button').click(function() {
        $('#ajax_upload_modal').modal('hide');
    });

    //    $('#thumbnail_loading_progress').removeClass('active');
    //
    //    $('#formSubmitButton').removeClass('disabled');
    //    $('#formSubmitButton').click(uploadThumbnails);

    alert("FIN");
}

function recursiveUploadAnImage(imagesToUpload) {

    updateAjaxUploadProgressDialog(imagesToUpload);

    var anImageToUpload = imagesToUpload.shift();
	if(typeof(anImageToUpload) == 'undefined') {
		onFinishedUploadingImages();
		return;
	};

    console.info("Starting upload of '" + anImageToUpload.uploadFilename + "' - checksum: " + anImageToUpload.checksum);

    var qParams = "checksum=" + anImageToUpload.checksum + "&imageId=" + anImageToUpload.imageId;

    $.ajax({
        type : "POST",
        url : "{% url 'imageselection_upload_pending_automatic' object.id %}?" + qParams,
        data : anImageToUpload.file,
        processData : false

    }).done(function(msg) {
        console.info("upload of '" + anImageToUpload.uploadFilename + "' finished. status: " + msg['status']);
        console.info(" - server side claculated_checksum: " + msg['claculated_checksum']);
        console.info(" - pending_count: " + msg['pending_count']);
        window.setTimeout(function(){ recursiveUploadAnImage(imagesToUpload); }, 1);

    }).fail(function(msg) {
        console.error(msg);
        alert("Se detecto un error mientras se realizaba el upload...");
        window.location.reload();

        // window.setTimeout(function(){ recursiveUploadAnImage(imagesToUpload); }, 1);
    });

}

function uploadThumbnails(event) {

	event.preventDefault(); // avoid form submition

    var imagesToUpload = Array();

    for(var checksum in document.PREVIEW_ONLY_IMAGES_BY_CHECKSUM) {
        var anImageToUpload = document.PREVIEW_ONLY_IMAGES_BY_CHECKSUM[checksum];

        if(anImageToUpload.uploadFilename == null) {
            console.info("Ignoring image (uploadFilename == null) - checksum: " + checksum)
            continue;
        }

        if(anImageToUpload.file == null) {
            console.info("Ignoring image (file == null) - checksum: " + checksum)
            continue;
        }

        imagesToUpload.push(anImageToUpload);
    }

    showAjaxUploadProgressDialog(imagesToUpload.length);

    window.setTimeout(function(){ recursiveUploadAnImage(imagesToUpload); }, 1);

    //	$('#uploadingThumbnailsModal').modal({
    //		backdrop : 'static',
    //		keyboard : false
    //	});

}

</script>

{% endblock %}

</body>
</html>
