{% extends "lumina/base.html" %}
{% load lumina_extras %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina - Peticiones de selección de imágenes de album {{ object.album.name }}{% endblock %}</title>
</head>
<body>

<!--
	This template shows an instance of ImageSelection
	to the customer, to let him select the images he/she wants.
-->

{% block content %}

    <h3>Peticiones de selección de imágenes de album {{ object.album.name }}</h3>

	<small><strong>Estado:</strong>
		{{ object.get_status_display }}</small><br>

	<small><strong>Compartido con:</strong>
		{{ object.customer|full_name_with_username }}</small><br>

	<small><strong>Cant. de imagenes permitidas:</strong>
		{{ object.image_quantity }}</small><br>

    <h5>Imágenes del album:</h5>

       <form method="post">
	    {% for image in object.album.image_set.all %}
	    
	        {% include 'lumina/include/image.html' with image=image checkbox_for_selection=True hide_download=True only %}
	        
	    {% empty %}
	        <p>El album no posee imagenes...</p>
		    <hr>
	    {% endfor %}
        <input type="submit" value="Seleccionar" class="btn btn-primary">
           {% csrf_token %}
       </form>

{% endblock content %}

{% block javascript_bottom %}
	<script type="text/javascript">
	</script>
{% endblock %}

</body>
</html>
