{% extends "lumina/base.html" %}
{% load lumina_extras %}{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina - Image list{% endblock %}</title>
</head>
<body>

{% block content %}

    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>Búsqueda de imágenes</h4>
        </div>
        <div class="panel-body">
            {% crispy form form.helper %}
        </div>
    </div>
    <hr>

    {% if not hide_search_result %}

        {% for image in object_list %}
            {% image_item image %}
            <hr>
        {% empty %}

            <h4>
                No se encontraron imagenes que concuerden con los parámetros de búsqueda
            </h4>
            <hr>

        {% endfor %}

        <!-- pagination -->
        <nav>
          <ul class="pagination pagination-lg">

            <li class="{% if not object_list.has_previous %} disabled {% endif %}">
                {% if object_list.has_previous %}
                  <a href="javascript:goToPage('{{ object_list.previous_page_number }}');">
                    &laquo;
                  </a>
                {% else %}
                  <a href="javascript:void(0);">
                    &laquo;
                  </a>
                {% endif %}
            </li>

              <li>
                  <a href="javascript:void(0);">
                    Página {{ object_list.number }} de {{ object_list.paginator.num_pages }}
                  </a>
              </li>

            <li class="{% if not object_list.has_next %} disabled {% endif %}">
                {% if object_list.has_next %}
                  <a href="javascript:goToPage('{{ object_list.next_page_number }}');">
                    &raquo;
                  </a>
                {% else %}
                  <a href="javascript:void(0);">
                    &raquo;
                  </a>
                {% endif %}
            </li>

          </ul>
        </nav>

    {% endif %} <!-- hide_search_result -->

{% endblock content %}

{% block javascript_bottom %}

<script type="application/javascript">

function goToPage(pageNum) {
    $('#id_page').val(pageNum);
    $('#form-image-search')[0].reset();
    $('#form-image-search').submit();
}

$(document).ready(function() {
    $('#form-submit-button').click(function() {
        $('#id_page').val('1');
    });
});
</script>

{% endblock %}

</body>
</html>
