{% extends "lumina/base.html" %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina - Image list{% endblock %}</title>
</head>
<body>

{% block content %}

	<h3>Imagenes para '{{ user }}'</h3>

	{% for image in object_list %}
		<ul class="media-list">
			<li class="media"><a class="pull-left" href="{% url 'image_update' image.pk %}"><img
					class="media-object" src="{% url 'image_thumb_64x64' image.pk %}">
	            </a>
				<div class="media-body">
					<h4 class="media-heading"><a
					   href="{% url 'image_update' image.pk %}">{{ image.image.url }}</a></h4>
				</div>
			</li>
		</ul>
	{% empty %}
		<p>No hay imagenes...</p>
	{% endfor %}

{% endblock content %}

</body>
</html>
