{% extends "lumina/base.html" %}
{% load lumina_extras %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina Home{% endblock %}</title>
</head>
<body>

{% block content %}

    <h2>Bienvenido, {{ user.get_full_name }}!</h2>

    <h4>Estadisticas</h4>

    <p><span class="badge badge-info">{{ session_count }}</span>
			sesion{{ session_count|pluralize:",es" }}</p>

    <p><span class="badge badge-info">{{ shared_session_via_email_count }}</span>
			sesion{{ shared_session_via_email_count|pluralize:",es" }}
			compartido{{ shared_session_via_email_count|pluralize:",s" }} por email</p>

    <p><span class="badge badge-info">{{ image_count }}</span>
            imagen{{ image_count|pluralize:",es" }}</p>

    <p><span class="badge badge-info">{{ image_selection_with_pending_uploads_count }}</span>
            solicitud{{ image_selection_with_pending_uploads_count|pluralize:",es" }} de selección de fotos
            esperando que se suban la fotografías en calidad total.
            {% if image_selection_with_pending_uploads_count %}
                <a href="{% url 'imageselection_with_pending_uploads_list' %}">Haga clic aquí para listarlas</a>
            {% endif %}
    </p>

    <hr>

{% endblock content %}

</body>
</html>
