{% extends "lumina/base.html" %}
{% load lumina_extras %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina Home{% endblock %}</title>
</head>
<body>

{% block content %}

    {% if user.is_authenticated %}
        <h2>Bienvenido, {{ user.get_full_name }}!</h2>

        <h4>Estadisticas de tus álbumes</h4>

        <p><span class="badge badge-info">{{ session_count }}</span>
				sesiones{{ session_count|pluralize:",es" }}</p>

        <p><span class="badge badge-info">{{ shared_session_via_email_count }}</span>
				sesiones{{ shared_session_via_email_count|pluralize:",es" }}
				compartido{{ shared_session_via_email_count|pluralize:",s" }} por email</p>

        <p><span class="badge badge-info">{{ image_count }}</span>
                imagen{{ image_count|pluralize:",es" }}</p>

        <hr>

        <h4>Albumes que otros han compartido con vos</h4>

        <!-- # FIXME: REFACTOR: refactor this - - >
        <p><span class="badge badge-info">{{ others_album_count }}</span>
                album{{ others_album_count|pluralize:",es" }} ha{{ others_album_count|pluralize:",n" }}
                sido compartido{{ others_album_count|pluralize }} con vos.
        </p> -->

        <hr>

        {% if user|user_is_customer %}
	        <h4>Peticiones de selección de fotos pendientes...</h4>
            <!-- # FIXME: REFACTOR: refactor this -->
	        <p><span class="badge badge-info">{{ image_selection_pending_count }}</span>
	                Ud. posee {{ image_selection_pending_count }}
	                {{ image_selection_pending_count|pluralize:"petición,peticiones" }}
	                de selección de imagenes. <a href="{ % url 'imageselection_list' % }">Haga clic aqui</a> para verlas...
	        </p>
	        <hr>
        {% endif %}

        <!--
        # Google OAuth doesn't work yet...
        { % if 'google-oauth' in social_auth|non_empty_unicode_keys % }
            <a href="{ % url 'socialauth_disconnect' 'google-oauth' % }"><img
                alt="Twitter" src="/static/google-icon-16x16.png"> Disssociate from Google account</a>
        { % else % }
            <a href="{ % url 'socialauth_begin' 'google-oauth' % }"><img
                alt="Twitter" src="/static/google-icon-16x16.png"> Associate Google account</a>
        { % endif % }

        &nbsp;
        -->

        {% if 'twitter' in social_auth|non_empty_unicode_keys %}
        <!--
            <a href="{% url 'socialauth_disconnect' 'twitter' %}"><img
                alt="Twitter" src="/static/twitter-icon-16x16.jpg"> Disssociate from Twitter account</a>
        -->
        {% else %}
            <a href="{% url 'socialauth_begin' 'twitter' %}"><img
                alt="Twitter" src="/static/twitter-icon-16x16.jpg"> Associate Twitter account</a>
        {% endif %}

    {% else %}
        <h2>Bienvenido!</h2>
        <p>
            Debes <a href="{% url 'django.contrib.auth.views.login' %}?next=/">iniciar sesión</a>
            para poder utilizar el sistema...
        </p>
    {% endif %}

	{% dump_objects user user.social_auth.all social_auth social_auth.twitter %}

{% endblock content %}

</body>
</html>
