{% extends "lumina/base.html" %}
{% load lumina_extras %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina Home{% endblock %}</title>
</head>
<body>

{% block content %}

    <h2>Bienvenido, {{ user.get_full_name }}!</h2>

    <h4>Estadísticas</h4>

    <h4>Peticiones de selección de fotos pendientes...</h4>
    <p><span class="badge badge-info">{{ image_selection_pending_count }}</span>
            Ud. posee {{ image_selection_pending_count }}
            {{ image_selection_pending_count|pluralize:"petición,peticiones" }}
            de selección de imagenes.
            {% if image_selection_pending_count %}
                <a href="{% url 'imageselection_awaiting_customer_selection_list' %}">Haga clic aqui</a> para verlas...
            {% endif %}
    </p>
    <hr>

    <h4>Presupuestos por aprobar</h4>
    <p><span class="badge badge-info">{{ quotes_pending_count }}</span>
            Ud. posee {{ quotes_pending_count }}
            presupuesto{{ quotes_pending_count|pluralize:"s" }}
            pendientes de aprobar.
            {% if quotes_pending_count %}
                <a href="{% url 'quote_list_pending_for_customer' %}">Haga clic aqui</a> para verlos...
            {% endif %}
    </p>
    <hr>

{% endblock content %}

</body>
</html>
