{% extends "lumina/base.html" %}
{% load lumina_extras %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina Home{% endblock %}</title>
</head>
<body>

{% block content %}

    {% if user.is_authenticated %}
        <h2>Bienvenido, {{ user.username }}!</h2>
        <h4>Estadisticas</h4>
        <table class="table">
            <tr>
                <td width="10%">{{ album_count }}</td>
                <th>Albumes</th>
            </tr>
            <tr>
                <td width="10%">{{ sharedalbum_count }}</td>
                <th>Albumes compartidos</th>
            </tr>
            <tr>
                <td width="10%">{{ image_count }}</td>
                <th>Imagenes</th>
            </tr>
        </table>
    {% else %}
        <h2>Bienvenido!</h2>
        <p>
            Debes <a href="{% url 'django.contrib.auth.views.login' %}?next=/">iniciar sesión</a>
            para poder utilizar el sistema...
        </p>
    {% endif %}

	{% dump_objects user %}

{% endblock content %}

</body>
</html>
