{% extends "lumina/base.html" %}
{% load lumina_extras %}{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina - Presupuestos{% endblock %}</title>
</head>
<body>

{% block content %}

    {% if is_search %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Búsqueda de presupuestos</h4>
            </div>
            <div class="panel-body">
                {% crispy form form.helper %}
            </div>
        </div>
        <hr>
    {% else %}
        {% if custom_title %}
            <h3>{{ custom_title }}</h3>
        {% else %}
            <h3>Listado de presupuestos</h3>
        {% endif %}
    {% endif %}

    {% if not hide_search_result %}

        <table class="table">

            {% if hide_customer %}
                <tr>
                    <th width="60%">
                        Nombre
                    </th>
                    <th width="10%" class="text-nowrap text-right">
                        Cant. imágenes
                    </th>
                    <th width="10%" class="text-right">
                        Estado
                    </th>
                    <th width="5%" class="text-nowrap text-right">
                        Fecha de entrega
                    </th>
                    <!--<th width="5%" class="text-nowrap text-right">-->
                        <!--Última actualización-->
                    <!--</th>-->
                </tr>
            {% endif %}

            {% for a_quote in object_list %}

                {% if not hide_customer %}
                    {% ifchanged a_quote.customer.id %}
                        <tr>
                            <td colspan="4" class="active">
                                <h4><small>Cliente:</small> {{ a_quote.customer.name }}</h4>
                            </td>
                        </tr>

                        <tr>
                            <th width="10%" class="text-center">
                                Estado
                            </th>
                            <th width="60%">
                                Nombre
                            </th>
                            <th width="10%" class="text-nowrap text-right">
                                Cant. imágenes
                            </th>
                            <th width="5%" class="text-nowrap text-right">
                                Fecha de entrega
                            </th>
                            <!--<th width="5%" class="text-nowrap text-right">-->
                                <!--Última actualización-->
                            <!--</th>-->
                        </tr>

                    {% endifchanged %}
                {% endif %}

                <tr>
                    <td class="text-nowrap text-center">
                        {% session_quote_status a_quote %}
                    </td>
                    <td>
                        <div class="text-nowrap">
                            <i class="fa fa-money"></i>
                            <a href="{% url 'quote_detail' a_quote.id %}">
                                {{ a_quote.name }}</a>
                        </div>

                        {% if user.is_photographer %}
                            <div style="padding-left: 0em;" {% if not a_quote.session %}class="text-muted"{% endif %}>
                                <small>
                                    Sesión asociada:
                                    <i class="fa fa-picture-o"></i>
                                    {% if a_quote.session %}
                                        <a href="{% url 'session_detail' a_quote.session.id %}">{{ a_quote.session.name }}</a>
                                    {% else %}
                                        no hay sesión asociada al presupuesto
                                    {% endif %}
                                </small>
                            </div>
                        {% endif %}

                    </td>
                    <th class="text-right">
                        {{ a_quote.image_quantity }}
                    </td>
                    <td class="text-right text-nowrap">
                        {{ a_quote.stipulated_date }}
                    </td>
                    <!--<td class="text-right text-nowrap">-->
                        <!--{ { a_quote.last_modified|timesince } }-->
                    <!--</td>-->
                </tr>

            {% empty %}
                <tr>
                    <td colspan="4">
                        {% if is_search %}
                            No se encontraron presupuestos que concuerden con los parámetros de búsqueda
                        {% else %}
                            No hay presupuestos para mostrar
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

        </table>

        <hr>

        <p class="text-muted small">
            <i class="fa fa-money"></i> Presupuesto
            ·
            <i class="fa fa-picture-o"></i> Sesión fotográfica
        </p>

        {% if is_search %} <!-- pagination -->
            <nav>
              <ul class="pagination pagination-lg">

                <li class="{% if not object_list.has_previous %} disabled {% endif %}">
                    {% if object_list.has_previous %}
                      <a href="javascript:goToPage('{{ object_list.previous_page_number }}');">
                        &laquo;
                      </a>
                    {% else %}
                      <a href="javascript:void(0);">
                        &laquo;
                      </a>
                    {% endif %}
                </li>

                  <li>
                      <a href="javascript:void(0);">
                        Página {{ object_list.number }} de {{ object_list.paginator.num_pages }}
                      </a>
                  </li>

                <li class="{% if not object_list.has_next %} disabled {% endif %}">
                    {% if object_list.has_next %}
                      <a href="javascript:goToPage('{{ object_list.next_page_number }}');">
                        &raquo;
                      </a>
                    {% else %}
                      <a href="javascript:void(0);">
                        &raquo;
                      </a>
                    {% endif %}
                </li>

              </ul>
            </nav>
        {% endif %}

    {% endif %} <!-- hide_search_result -->

    {% if show_add_session_button %}
        {% if user.is_photographer %}
        <p>
            <a href="{% url 'quote_create' %}" class="btn btn-primary">Nuevo presupuesto</a>
        </p>
        {% endif %}
    {% endif %}

    {% dump_objects user object_list %}

{% endblock content %}

{% block javascript_bottom %}

<script type="application/javascript">

function goToPage(pageNum) {
    $('#id_page').val(pageNum);
    $('#form-session-quote-search')[0].reset();
    $('#form-session-quote-search').submit();
}

$(document).ready(function() {
    $('#form-submit-button').click(function() {
        $('#id_page').val('1');
    });
});
</script>

{% endblock %}

</body>
</html>
