{% extends "lumina/base.html" %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina - Agregar imágenes de vista previa{% endblock %}</title>
</head>
<body>

    {% block content %}

	<div class="modal" id="statistics_modal" tabindex="-1">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<h3 id="myModalLabel">Generando previsualizaciones...</h3>
		  </div>
		  <div class="modal-body">

				<div id="statistics">
					<table class="table">

						<tr>
							<td colspan="2">

								<div class="progress">
								  <div class="progress-bar progress-bar-striped active"
									   role="progressbar" style="width: 0%" id="thumbnailLoadingProgress">
								  </div>
								</div>

							</td>
						</tr>

						<tr>
							<th width="5%" class="text-nowrap text-right">Total:</th>
							<td>
								<span id="stats_files_count"></span>
							</td>
						</tr>
						<tr>
							<th width="5%" class="text-nowrap text-right">Procesados:</th>
							<td>
								<span id="stats_files_processed"></span>
							</td>
						</tr>
						<tr>
							<th width="5%" class="text-nowrap text-right">Tamaño original:</th>
							<td>
								<span id="stats_orig_size"></span>
							</td>
						</tr>
						<tr>
							<th class="text-nowrap text-right">Tamaño de previsualizaciones:</th>
							<td>
								<span id="stats_preview_size"></span>
							</td>
						</tr>
					</table>
				</div>

		  </div>
		  <div class="modal-footer">
				<button class="btn btn-primary disabled"
						id="statistics_modal_close_button">Cerrar</button>
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->



	<div class="modal" id="uploadingThumbnailsModal" tabindex="-1">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-body">
			  <h3>
				  <i class="fa fa-refresh fa-spin"></i>
				  Subiendo vistas previas...
			  </h3>
			  <p>
				  Por favor, espere mientras las vistas previas son
				  subidas al servidor...
			  </p>
				<div class="progress">
				  <div class="progress-bar progress-bar-striped active"
					   role="progressbar" style="width: 100%">
				  </div>
				</div>

		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->



    <h3>Agregar imágenes de previsualización</h3>
    <form action="{% url 'session_upload_previews_upload' object.id %}" method="post" enctype="multipart/form-data">
        <!-- { % csrf_token % } -->
        <table class="table">

			{% if preview_sizes %}
				<tr class="formControlRowSelectPreviewSize" style="display: none;">
					<td width="20%">Tamaño de previsualización</td>
					<td>
						{% for preview_size in preview_sizes %}
							<a href="javascript:setPreviewSize('{{preview_size.max_size}}');"
									class="btn btn-primary">{{preview_size}}</a>
						{% endfor %}

						<div>&nbsp;</div>
						<div class="alert alert-info">
							<h3 style="margin-top: 0px;"><i class="fa fa-question-circle"></i> Ayuda</h3>
							<p>Seleccione el tamaño de las previsualizaciones.</p>
						</div>
					</td>
				</tr>
			{% else %}
				<tr>
					<td width="20%">Tamaño de previsualización</td>
					<td>
						<div class="alert alert-danger">
							<p>El estudio fotográfico no ha especificado los tamaños de previsualización válidos.</p>
							<p>Para configurarlos, por favor <a href="{% url 'preview_size_list' %}">acceda aquí</a>.</p>
						</div>
					</td>
				</tr>
			{% endif %}

            <tr class="formControlRowFileSelector" style="display: none;">
                <td width="20%">Imagenes</td>
                <td>
                    <input id="fileInput" type="file" name="images" multiple>

					<div>&nbsp;</div>
					<div class="alert alert-info">
						<h3 style="margin-top: 0px;"><i class="fa fa-question-circle"></i> Ayuda</h3>
						<p>Seleccione los archivos.</p>
					</div>
                </td>
            </tr>

            <tr>
                <td colspan="2">
					<button class="btn btn-primary disabled" disabled="disabled"
							id="formSubmitButton">Subir imágenes</button>
                </td>
            </tr>

        </table>
    </form>

    <div id="thumbnails_preview"></div>

    <ul id="status"></ul>

    {% endblock content %}

{% block javascript_bottom %}

<!-- FROM: https://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha1.js -->
<script src="/static/lumina/js/crypto-js-3.1.2-sha1.js"></script>
<!-- FROM: https://github.com/satazor/SparkMD5 -->
<script src="/static/lumina/js/spark-md5.min.js"></script>

<script type="text/javascript">

function readablizeBytes(bytes) {
	var s = [ 'bytes', 'kB', 'MB', 'GB', 'TB', 'PB' ];
	if (bytes == 0) {
		return "0 " + s[0];
	}
	var e = Math.floor(Math.log(bytes) / Math.log(1024));
	return (bytes / Math.pow(1024, e)).toFixed(2) + " "
			+ s[e];
}

function onFinishedLoadingThumbnails() {
	$('#statistics_modal_close_button').removeClass('disabled');
	$('#statistics_modal_close_button').click(function() {
		$('#statistics_modal').modal('hide');
	});

	$('#thumbnailLoadingProgress').removeClass('active');
	$('#formSubmitButton').click(uploadThumbnails);
	$('#formSubmitButton').removeClass('disabled');
	$('#formSubmitButton').prop("disabled", false);
}

function showStatisticsDialog() {
	$('#stats_orig_size')[0].textContent = '';
	$('#stats_preview_size')[0].textContent = '';
	$('#stats_files_count')[0].textContent = '' + document.LUM_TOTAL_FILE_COUNT;
	$('#stats_files_processed')[0].textContent = '0';

	$('#statistics_modal').modal({
		backdrop : 'static',
		keyboard : false
	});
}

/**
 * Update statistics on dialog model
 */
function updateStatistics() {
	$('#stats_orig_size')[0].textContent = readablizeBytes(document.LUM_SUM_SIZE_ORIGINAL);
	$('#stats_preview_size')[0].textContent = readablizeBytes(document.LUM_SUM_SIZE_PREVIEW);

	var processsedCount = document.LUM_TOTAL_FILE_COUNT - document.FILES.length;
	$('#stats_files_processed')[0].textContent = '' + processsedCount;

	var progressPercent = ((processsedCount / document.LUM_TOTAL_FILE_COUNT) * 100);
	$('#thumbnailLoadingProgress').width("" + progressPercent + "%");

}

/**
 * This method is called for each of the files selected by the user
 * that are NOT images.
 *
 * @See generateThumbnailAndAppendToHtml: called when the file IS an image
 */
function appendErrorMessageFileIsNotAnImage(non_image_file) {
	var status = $('#status');
	var li = document.createElement("li");
	li.className = "text-error";
	li.textContent = "" + non_image_file.name + " no es una imagen valida";
	status.append(li);

	window.setTimeout(processFile, 1);
}

/**
 * This method is called for each of the files/images selected by the user,
 * when the file is a image.
 *
 * @See appendErrorMessageFileIsNotAnImage: called when the file is NOT an image
 */
function generateThumbnailAndAppendToHtml(image_file, img) {
	var thumbnails = $('#thumbnails_preview')[0];
	var tmp;

	var ret = resizeImage(img, document.LUMINA_PREVIEW_SIZE, document.LUMINA_PREVIEW_SIZE, 0.5);
	var url = ret[0];
	var width = ret[1];
	var height = ret[2];

	console.info("URL: " + url)

	//
	// 1st DIV
	//
	var div = document.createElement("div");
	var newImg = document.createElement("img");
	newImg.src = url;
	newImg.className = "img-polaroid";
	div.appendChild(newImg);
	document.LUM_PREVIEW_IMAGES.push(url);
	document.LUM_PREVIEW_FILENAMES.push(image_file.name);
	thumbnails.appendChild(div);

	//
	// 2nd DIV
	//
	div = document.createElement("div");

	// File
	var small = document.createElement("small");
	tmp = document.createElement("strong");
	tmp.textContent = "Nombre del archivo: ";
	small.appendChild(tmp);

	tmp = document.createElement("span");
	tmp.textContent = "" + image_file.name + " - ";
	small.appendChild(tmp);

	// File size
	tmp = document.createElement("strong");
	tmp.textContent = "Tamaño: ";
	small.appendChild(tmp);

	tmp = document.createElement("span");
	tmp.textContent = "" + readablizeBytes(image_file.size)
			+ " - ";
	small.appendChild(tmp);

	// Img. dimensions
	tmp = document.createElement("strong");
	tmp.textContent = "Dimensiones: ";
	small.appendChild(tmp);

	tmp = document.createElement("span");
	tmp.textContent = "" + img.width + "x" + img.height;
	small.appendChild(tmp);

	div.appendChild(small);
	thumbnails.appendChild(div);

	//
	// 3rd DIV
	//

	var preview_file_size = window.atob(url.substring(23)).length;

	div = document.createElement("div");
	small = document.createElement("small");

	// File size
	tmp = document.createElement("strong");
	tmp.textContent = "Tamaño de previsualización: ";
	small.appendChild(tmp);

	tmp = document.createElement("span");
	tmp.textContent = ""
			+ readablizeBytes(preview_file_size);
	small.appendChild(tmp);

	// Img. dimensions
	tmp = document.createElement("strong");
	tmp.textContent = " - Dimensiones: ";
	small.appendChild(tmp);

	tmp = document.createElement("span");
	tmp.textContent = "" + width + "x" + height;
	small.appendChild(tmp);

	// Speedup
	var speedup = ((preview_file_size * 1.0) / (image_file.size * 1.0) * 100.0)
	tmp = document.createElement("strong");
	tmp.textContent = " - Radio: ";
	small.appendChild(tmp);

	tmp = document.createElement("span");
	tmp.textContent = "" + speedup.toFixed(2) + "%";
	small.appendChild(tmp);

	div.appendChild(small);
	thumbnails.appendChild(div);

	document.LUM_SUM_SIZE_ORIGINAL += image_file.size;
	document.LUM_SUM_SIZE_PREVIEW += preview_file_size;

	// ------------------------

	var reader = new FileReader();
	reader.onload = function(event) {
		var binary = event.target.result;
		// var sha1sum = CryptoJS.SHA1(binary).toString();
		// console.log("CryptoJS.SHA1(): sha1sum: " + sha1sum);
		var spark = new SparkMD5();
		spark.appendBinary(binary);
		var hexHash = spark.end();
		console.log("SparkMD5.hash(): md5sum: " + hexHash);
		document.LUM_MD5SUM.push(hexHash);


		//
		// 4th DIV
		//
		div = document.createElement("div");

		// Checksum
		var small = document.createElement("small");
		tmp = document.createElement("strong");
		tmp.textContent = "Checksum de original: ";
		small.appendChild(tmp);

		tmp = document.createElement("span");
		tmp.textContent = "0x" + hexHash;
		small.appendChild(tmp);

		div.appendChild(small);
		thumbnails.appendChild(div);

		//
		// HR
		//
		var hr = document.createElement("hr");
		thumbnails.appendChild(hr);




		window.setTimeout(processFile, 1);
	};

	reader.readAsBinaryString(image_file);
}


/**
 * Do the actual resize of the image
 */
function resizeImage(img, max_width, max_height, quality) {
	/*
	 * https://github.com/josefrichter/resize/blob/master/public/preprocess.js
	 */

	// Initially, W & H has original size
	var width = img.width;
	var height = img.height;

	// calculate the width and height, constraining the proportions
	if (width > height) {
		if (width > max_width) {
			//height *= max_width / width;
			height = Math
					.round(height *= max_width / width);
			width = max_width;
		}
	} else {
		if (height > max_height) {
			//width *= max_height / height;
			width = Math
					.round(width *= max_height / height);
			height = max_height;
		}
	}

	// Now, W & H has the size for preview

	// resize the canvas and draw the image data into it
	var canvas = document.createElement('canvas');
	canvas.width = width;
	canvas.height = height;
	var ctx = canvas.getContext("2d");
	ctx.drawImage(img, 0, 0, width, height);

	// xhgdeorox // preview.appendChild(canvas); // do the actual resized preview
	console.info("Canvas: " + canvas);

	// get the data from canvas as 70% JPG (can be also PNG, etc.)
	// return canvas.toDataURL("image/jpeg", 0.7);
	var dataUrl = canvas.toDataURL("image/jpeg", quality);
	console.info("dataUrl: " + dataUrl);
	return [ dataUrl, width, height ];
}

function processFile() {
	updateStatistics();
	var imageFile = document.FILES.shift();

	if(typeof(imageFile) == 'undefined') {
		onFinishedLoadingThumbnails();
		return;
	};

	var img = document.createElement("img");
	img.src = window.URL.createObjectURL(imageFile);

	// http://stackoverflow.com/questions/12570834/how-can-i-get-the-file-size-image-height-and-width-before-upload
	img.onerror = function() {
		appendErrorMessageFileIsNotAnImage(imageFile);
	};

	img.onload = function() {
		generateThumbnailAndAppendToHtml(imageFile, this);
	};
}

/**
 * Executed when the user selects the files, loads the
 * files contents and generates the thumbnails.
 */
function generateAndShowThumbnails() {
	document.FILES = new Array();
	document.LUM_PREVIEW_IMAGES = new Array();
	document.LUM_PREVIEW_FILENAMES = new Array();
	document.LUM_MD5SUM = new Array();
	document.LUM_SUM_SIZE_ORIGINAL = 0;
	document.LUM_SUM_SIZE_PREVIEW = 0;
	document.LUM_TOTAL_FILE_COUNT = 0;
	$('#thumbnails_preview').empty();
	$('#status').empty();

	var selectedFiles = $("#fileInput")[0].files;
	if (selectedFiles.length <= 0)
		return;

	$('.formControlRowFileSelector').hide();
	document.LUM_TOTAL_FILE_COUNT = selectedFiles.length;
	showStatisticsDialog(); // uses 'document.LUM_TOTAL_FILE_COUNT'

	var i;
	for (i = 0; i < selectedFiles.length; i++) {
		document.FILES.push(selectedFiles[i]);
	}

	processFile();
}

function uploadThumbnails(event) {

	event.preventDefault(); // avoid form submition

	$('#uploadingThumbnailsModal').modal({
		backdrop : 'static',
		keyboard : false
	});

	var images = {};
	for (var i = 0; i < document.LUM_PREVIEW_IMAGES.length; i++) {
		images['img' + i] = document.LUM_PREVIEW_IMAGES[i];
		images['img' + i + '_filename'] = document.LUM_PREVIEW_FILENAMES[i];
		images['img' + i + '_checksum'] = document.LUM_MD5SUM[i];
		console.info("URL[" + i + "]="
				+ document.LUM_PREVIEW_IMAGES[i]);
	}

	$.ajax({
		type : "POST",
		url : "{% url 'session_upload_previews_upload' object.id %}",
		data : images
	}).done(function(msg) {
		console.info("Ajax: " + msg)
		if (msg['status'] == 'ok') {
			window.location.replace(msg['redirect']);
		} else {
			alert("ERROR - status != ok");
			window.location.replace('/');
		}
	}).fail(function(msg) {
		console.error(msg);
		alert("ERROR");
		// window.location.replace('/');
	});

}

function setPreviewSize(selectedSize) {
	document.LUMINA_PREVIEW_SIZE = parseInt(selectedSize);
	$('.formControlRowSelectPreviewSize').hide('fast', function() {
		$('.formControlRowFileSelector').show('slow');
	});

}

$(document).ready(function() {
	document.LUMINA_PREVIEW_SIZE = 0;
	$('#fileInput').bind('change', generateAndShowThumbnails);
	$('.formControlRowSelectPreviewSize').show('slow');
});

</script>
{% endblock %}

</body>
</html>
