{% extends "lumina/base.html" %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina - Sesión: {{ object.name }}{% endblock %}</title>
</head>
<body>

{% block content %}

    <h4>Sesión '{{ object.name }}'</h4>

    <hr>

    <h5>Imágenes del album:</h5>
    {% for image in object.image_set.all %}
        {% include 'lumina/include/image.html' with image=image user=user read_write=True only %}
    {% empty %}
        <p>No hay imagenes...</p>
	    <hr>
    {% endfor %}

    {% if object.user == user %}
        <!-- # FIXME: REFACTOR: refactor this -->
        <!-- the logged in user is the owner of the album -->

	    <h5>
	       Compartido con clientes:
	           &nbsp;&nbsp;&nbsp;<i class="icon-question-sign"></i><small> Para compartir una sesión con un cliente, utilice <strong>Actualizar album</strong></small>
	    </h5>
	    <table class="table">
	        {% for customer in object.shared_with.all %}
	            <tr>
	               <td>
	                    <i class="icon-user"></i> {{ customer.get_full_name }}
	                    ({{ customer.username }})
	               </td>
	            </tr>
	        {% empty %}
	            <tr><td>La sesión no ha sido compartido con ningún cliente</td></tr>
	        {% endfor %}
	    </table>

    {% endif %}

    {% if object.studio == user.studio %}
        <!-- the logged in user is the owner of the album -->

	    <hr>
	
	    <h5>Compartida via email:</h5>
	    <table class="table">
	        {% for shared_by_email in object.shares_via_email.all %}
	            <tr>
	               <td width="5%"><a href="{% url 'shared_session_by_email_view' shared_by_email.random_hash %}">Link</a></td>
	               <td width="95%"><i class="icon-envelope"></i> {{ shared_by_email.shared_with }}</td>
	            </tr>
	        {% empty %}
	            <tr><td>La sesión no ha sido compartido via email</td></tr>
	        {% endfor %}
	    </table>

    {% endif %}


    {% if object.studio == user.studio %}
        <!-- the logged in user is the owner of the album -->

        <hr>
    
        <h5>Solicitudes de selección de fotos:</h5>
        <table class="table">
            {% for imageselection in object.imageselection_set.all %}
                <tr>
                   <td width="100%">
                        <div>
	                        <i class="icon-user"></i>
                                <a href="{% url 'imageselection_detail' imageselection.id %}">{{ imageselection.customer.name }}</a>
                        </div>
                        <div>
                            <em><small>{{ imageselection.get_status_display }}</small></em>
                        </div>
                   </td>
                </tr>
            {% empty %}
                <tr><td><small>No hay ninguna solicitud...</small></td></tr>
            {% endfor %}
        </table>

    {% endif %}

    <!-- // Buttons on bottom of page -->

    {% if object.studio == user.studio %}
        <!-- the logged in user from the same Studio than the Session -->

	    <hr>

	    <p>
		    <a href="{% url 'session_update' object.pk %}" class="btn btn-primary">Actualizar sesión</a>
		    <a href="{% url 'image_create' %}?id_session={{ object.pk }}" class="btn btn-primary">Agregar imagen</a>
            <a href="{% url 'shared_session_by_email_create' %}?id_session={{ object.pk }}" class="btn btn-primary">Compartir sesión via email</a>
            <a href="{% url 'image_selection_create' %}?id_session={{ object.pk }}" class="btn btn-primary">Solicitar selección de imágenes</a>
	    </p>
    {% endif %}

{% endblock content %}

</body>
</html>
