{% extends "lumina/base.html" %}
{% load lumina_extras %}{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina - Session list{% endblock %}</title>
</head>
<body>

{% block content %}

    {% if is_search %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Búsqueda de sesiones</h4>
            </div>
            <div class="panel-body">
                {% crispy form form.helper %}
            </div>
        </div>
        <hr>
    {% else %}
	    <h3>Sesiones fotográficas</h3>
    {% endif %}

    {% if not hide_search_result %}

        <table class="table">

            {% for a_session in object_list %}

                {% ifchanged a_session.customer.id %}
                    <tr>
                        <td colspan="5" class="active">
                            <h4><small>Cliente:</small> {{ a_session.customer.name }}</h4>
                        </td>
                    </tr>
                    <tr>
                        <th width="1%">
                            &nbsp;
                        </th>
                        <th width="70%">
                            Nombre
                        </th>
                        <th width="10%" class="text-nowrap text-right">
                            Cant. imágenes
                        </th>
                        <th width="10%" class="text-nowrap text-right">
                            Tipo de sesión
                        </th>
                        <th width="10%" class="text-nowrap text-right">
                            Fotógrafo
                        </th>
                    </tr>
                {% endifchanged %}

                <tr>
                    <td>
                        <img class="media-object" src="{% url 'session_album_icon' a_session.id %}">
                    </td>
                    <td>
                        <a href="{% url 'session_detail' a_session.pk %}">{{ a_session.name }}</a>

                        {% with quote=a_session.get_active_quote %}
                            {% if quote %}
                            <div class="text-muted"><small>
                                <i class="icon-briefcase"></i> <small><a class=""
                                    href="{% url 'quote_detail' quote.id %}">Ver presupuesto</a></small>
                            </small></div>
                            {% endif %}
                        {% endwith %}

                    </td>
                    <td class="text-nowrap text-right">
                        {{ a_session.image_set.count }}
                    </td>
                    <td class="text-nowrap text-right">
                        {{ a_session.session_type }}
                    </td>
                    <td class="text-nowrap text-right">
                        {{ a_session.photographer }}
                    </td>

                </tr>

            {% empty %}

                <tr>
                    <td colspan="4">
                        {% if is_search %}
                            No se encontraron sesiones fotográficas que concuerden con los parámetros de búsqueda
                        {% else %}
                            No hay sesiones fotográficas para mostrar
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}

        </table>

        <hr>

        {% if is_search %} <!-- pagination -->
            <nav>
              <ul class="pagination pagination-lg">

                <li class="{% if not object_list.has_previous %} disabled {% endif %}">
                    {% if object_list.has_previous %}
                      <a href="javascript:goToPage('{{ object_list.previous_page_number }}');">
                        &laquo;
                      </a>
                    {% else %}
                      <a href="javascript:void(0);">
                        &laquo;
                      </a>
                    {% endif %}
                </li>

                  <li>
                      <a href="javascript:void(0);">
                        Página {{ object_list.number }} de {{ object_list.paginator.num_pages }}
                      </a>
                  </li>

                <li class="{% if not object_list.has_next %} disabled {% endif %}">
                    {% if object_list.has_next %}
                      <a href="javascript:goToPage('{{ object_list.next_page_number }}');">
                        &raquo;
                      </a>
                    {% else %}
                      <a href="javascript:void(0);">
                        &raquo;
                      </a>
                    {% endif %}
                </li>

              </ul>
            </nav>
        {% endif %}

    {% endif %} <!-- hide_search_result -->

    {% if show_add_session_button %}
        {% if user.is_photographer %}
        <p>
            <a href="{% url 'session_create' %}" class="btn btn-primary">Agregar sesión</a>
        </p>
        {% endif %}
    {% endif %}

    {% dump_objects user object_list object_list.paginator %}

{% endblock content %}


{% block javascript_bottom %}

<script type="application/javascript">

function goToPage(pageNum) {
    $('#id_page').val(pageNum);
    $('#form-session-search')[0].reset();
    $('#form-session-search').submit();
}

$(document).ready(function() {
    $('#form-submit-button').click(function() {
        $('#id_page').val('1');
    });
});
</script>

{% endblock %}

</body>
</html>
