{% extends "lumina/base.html" %}
{% load lumina_extras %}{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina - Presupuestos{% endblock %}</title>
</head>
<body>

{% block content %}

    {% if is_search %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Búsqueda de presupuestos</h4>
            </div>
            <div class="panel-body">
                {% crispy form form.helper %}
            </div>
        </div>
        <hr>
    {% else %}
        {% if custom_title %}
            <h3>{{ custom_title }}</h3>
        {% else %}
            <h3>Listado de presupuestos</h3>
        {% endif %}
    {% endif %}

    {% if not hide_search_result %}

        {% for a_quote in object_list %}

            {% ifchanged a_quote.customer.id %}
                <h4>{{ a_quote.customer.name }}</h4>
            {% endifchanged %}

            <div class="media">
                <a class="pull-left" href="javascript:void(0);">
                    <img class="media-object" src="/static/lumina/img/quote-64.png">
                </a>
                <div class="media-body">
                    <div class="media-heading"><a
                           href="{% url 'quote_detail' a_quote.id %}">{{ a_quote.name }}</a>
                    </div>
                    <div>
                            <small>
                                <span class="badge badge-info">{{ a_quote.image_quantity }}</span>
                                imagen{{ a_quote.image_quantity|pluralize:",es" }}
                            </small>
                          -
                        {% session_quote_status a_quote %}
                        -
                        <i class="icon-calendar"></i> <span title="Creación: {{a_quote.created|date}} - Última actualización: {{a_quote.last_modified|date}}">
                            <small><em>Última actualización:</em> hace <strong>{{ a_quote.last_modified|timesince }}</strong></small></span>

                    </div>
                    {% if user.is_photographer and a_quote.session %}
                        <div style="padding-top: 5px;">
                            <small>
                                <em>Sesión:</em>
                                <a href="{% url 'session_detail' a_quote.session.id %}">{{ a_quote.session.name }}</a>
                            </small>
                        </div>
                    {% endif %}

                </div>
            </div>
            <hr>
        {% empty %}
            <h4>
                {% if is_search %}
                    No se encontraron presupuestos que concuerden con los parámetros de búsqueda
                {% else %}
                    No hay presupuestos para mostrar
                {% endif %}
            </h4>
            <hr>

        {% endfor %}

        {% if is_search %} <!-- pagination -->
            <nav>
              <ul class="pagination pagination-lg">

                <li class="{% if not object_list.has_previous %} disabled {% endif %}">
                    {% if object_list.has_previous %}
                      <a href="javascript:goToPage('{{ object_list.previous_page_number }}');">
                        &laquo;
                      </a>
                    {% else %}
                      <a href="javascript:void(0);">
                        &laquo;
                      </a>
                    {% endif %}
                </li>

                  <li>
                      <a href="javascript:void(0);">
                        Página {{ object_list.number }} de {{ object_list.paginator.num_pages }}
                      </a>
                  </li>

                <li class="{% if not object_list.has_next %} disabled {% endif %}">
                    {% if object_list.has_next %}
                      <a href="javascript:goToPage('{{ object_list.next_page_number }}');">
                        &raquo;
                      </a>
                    {% else %}
                      <a href="javascript:void(0);">
                        &raquo;
                      </a>
                    {% endif %}
                </li>

              </ul>
            </nav>
        {% endif %}

    {% endif %} <!-- hide_search_result -->

    {% if show_add_session_button %}
        {% if user.is_photographer %}
        <p>
            <a href="{% url 'quote_create' %}" class="btn btn-primary">Agregar presupuesto</a>
        </p>
        {% endif %}
    {% endif %}

    {% dump_objects user object_list %}

{% endblock content %}

{% block javascript_bottom %}

<script type="application/javascript">

function goToPage(pageNum) {
    $('#id_page').val(pageNum);
    $('#form-session-search')[0].reset();
    $('#form-session-search').submit();
}

$(document).ready(function() {
    $('#form-submit-button').click(function() {
        $('#id_page').val('1');
    });
});
</script>

{% endblock %}

</body>
</html>
