{% extends "lumina/base_create_update_form.html" %}
{% load humanize %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina - {{ title }}{% endblock %}</title>

<style type="text/css">

    {% block css %}
        {{ block.super }}
        
        #id_terms {
           width: 40em;
        }
        
    {% endblock %}

</style>

</head>
<body>

<table>


    {% block post_form_content %}
        {% if not full_edit %}
            {% include 'lumina/include/sessionquote_details_readonly.html' with hide_alternatives=True %}
        {% endif %}
    {% endblock post_form_content %}

    
</table>

    {% block post_table_content %}

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <hr>
    
    <h4>Alternativas</h4>

    <table class="table table-condensed table-hover table-bordered">
        <tr>
            <th width="40%" style="text-align: right;">&nbsp;</th>
            <th width="30%" style="text-align: right;">Cant. de fotografias</th>
            <th width="30%" style="text-align: right;">Costo</th>
            <th width="5%" style="text-align: center;">&nbsp;</th>
        </tr>
        {% for alt in object.quote_alternatives.all %}
            <tr>
                <td width="40%" style="text-align: right; font-weight: bold;">Alternativa:</td>
                <td width="30%" style="text-align: right;">{{ alt.image_quantity|intcomma }}</td>
                <td width="30%" style="text-align: right;">$ {{ alt.cost|intcomma }}</td>
                <td width="5%" style="text-align: center;">
                    {% if object.accepted_quote_alternative == alt %}
                        <a href="javascript:void(0);" data-toggle="tooltip"
                            class="with_tooltip"
                            title="No puede eliminarse. Un cliente ha elegido esta alternativa"><i
                                class="icon-info-sign"></i></a>
                    {% else %}
                    <input type="submit" name="delete_alternative_{{ alt.id }}"
                        value="Borrar" class="btn btn-mini btn-danger"
                        onclick="return confirm('Seguro?');">
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr><td colspan="4"><em>Sin alternativas</em></td></tr>
        {% endfor %}
        
            <tr><td colspan="4">
            
                <a href="{% url 'quote_alternatives_create' object.id %}"
                    class="btn btn-primary">Crear alternativa</a>
            
            </td></tr>
        
     </table>

    {% if not full_edit %}
        {% include 'lumina/include/sessionquote_details_help.html' %}
    {% endif %}

    {% endblock post_table_content %}

{% block javascript_bottom %}

<script type="text/javascript">
$(document).ready(function() {
	$('.with_tooltip').tooltip();
    $("<span>$ </span>").insertBefore("#id_cost");
    $("<span>$ </span>").insertBefore("#id_stipulated_down_payment");
});
</script>
 
{% endblock %}

</body>
</html>
