{% extends "lumina/base.html" %} {% load lumina_extras %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina - Sesión: {{ object.name }}{% endblock %}</title>
</head>
<body>

{% block content %}

    <h3>Sesión '{{ object.name }}'</h3>

    {% if user.is_photographer %}
    <table class="table">

        <tr>
            <th width="20%">Cliente:</th>
            <td width="80%">
                {{ object.customer.name }}
                {% if user.is_photographer %}
                    - <small>Tipo: {{ object.customer.customer_type }}</small>
                {% endif %}
            </td>
        </tr>

        <tr>
            <th>Tipo de sesión:</th>
            <td>
                {{ object.session_type }}
            </td>
        </tr>

        {% with quote=object.get_active_quote %}
            <tr>
                <th>Pesupuesto:</th>
                <td>
                    {% if quote %}
                        <i class="icon-briefcase"></i> <a class=""
                            href="{% url 'quote_detail' quote.id %}">Ver presupuesto</a>
                    {% else %}
                        <em>No hay presupuesto asociado</em>
                    {% endif %}
                </td>
            </tr>
        {% endwith %}

        {% if object.archived %}
        <tr>
            <th><small>Archivado:</small></th>
            <td>
                <i class="icon-exclamation-sign"></i> <small><em>La sesión se encuentra archivada</em></small>
            </td>
        </tr>
        {% endif %}

        <tr>
            <th><small>Fecha de creación:</small></th>
            <td>
                <small>{{ object.created }} (hace {{ object.created|timesince }})</small>
            </td>
        </tr>

        <tr>
            <th><small>Última actualización:</small></th>
            <td>
                <small>{{ object.last_modified }} (hace {{ object.last_modified|timesince }})</small>
            </td>
        </tr>

    </table>

        {% if object.studio == user.studio %}
            <form action="." method="post">
                {% csrf_token %}
                <a href="{% url 'session_update' object.pk %}" class="btn btn-primary">Editar sesión</a>
                <input class="btn btn-primary" type="submit" name="archive_session" value="Archivar">
            </form>
        {% endif %}

    {% endif %}

    <hr>

    <div class="panel panel-default">
        <div class="panel-heading"><h4>Imágenes del album</h4></div>
        <div class="panel-body">
            {% for image in object.image_set.all %}
                {% image_item image show_set_as_album_icon_button=True %}
            {% empty %}
                <p>No se han agregado fotografías a la sesión fotográfica...</p>
            {% endfor %}
        </div>

        {% if user.is_photographer and object.studio == user.studio %}
            <div class="panel-footer">
                <!-- the logged in user from the same Studio than the Session -->
                <form action="." method="post">
                    {% csrf_token %}
                    <a href="{% url 'session_upload_previews' object.id %}" class="btn btn-primary">Agregar vistas previas</a>
                    <a href="{% url 'image_create' %}?id_session={{ object.pk }}" class="btn btn-primary">Agregar imagenes en calidad total</a>
                </form>
            </div>
        {% endif %}
    </div>

    <!--
    { % if object.studio == user.studio % }
        < ! - - the logged in user is the from the same studio than the session - - >

	    <h5>
	       Compartido con clientes:
	           &nbsp;&nbsp;&nbsp;<i class="icon-question-sign"></i><small> Para compartir una sesión con un cliente, utilice <strong>Actualizar album</strong></small>
	    </h5>
	    <table class="table">
	        { % for customer in object.shared_with.all % }
	            <tr>
	               <td>
	                    <i class="icon-user"></i> { { customer.name } }
	               </td>
	            </tr>
	        { % empty % }
	            <tr><td>La sesión no ha sido compartido con ningún cliente</td></tr>
	        { % endfor % }
	    </table>

    { % endif % }
    -->

    {% if object.studio == user.studio %}
        <!-- the logged in user is the from the same studio than the session -->

        <div class="panel panel-default">
            <div class="panel-heading"><h4>Compartida via email</h4></div>
            <div class="panel-body">
                {% with shares_via_email=object.shares_via_email.all %}
                    {% if shares_via_email %}
                        <table class="table">
                            {% for shared_by_email in object.shares_via_email.all %}
                                <tr>
                                   <td width="5%"><a href="{% url 'shared_session_by_email_view' shared_by_email.random_hash %}">Link</a></td>
                                   <td width="95%"><i class="icon-envelope"></i> {{ shared_by_email.shared_with }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p>La sesión no ha sido compartido via email</p>
                    {% endif %}
                {% endwith %}
            </div>
            {% if user.is_photographer and object.studio == user.studio %}
                <div class="panel-footer">
                    <!-- the logged in user from the same Studio than the Session -->
                    <form action="." method="post">
                        {% csrf_token %}
                        <a href="{% url 'shared_session_by_email_create' object.pk %}" class="btn btn-primary">Compartir via email</a>
                    </form>
                </div>
            {% endif %}
        </div>

    {% endif %}


    {% if object.studio == user.studio %}
        <!-- the logged in user is the from the same studio than the session -->

        <div class="panel panel-default">
            <div class="panel-heading"><h4>Solicitudes de selección de fotos</h4></div>
            <div class="panel-body">
                {% with imageselection_all=object.imageselection_set.all %}
                    {% if imageselection_all %}
                        <table class="table">
                            {% for imageselection in object.imageselection_set.all %}
                                <tr>
                                   <td width="100%">
                                        <div>
                                            <i class="icon-user"></i>
                                            <a href="{% url 'imageselection_detail' imageselection.id %}">{{ imageselection.customer.name }}</a>

                                            ·
                                            <small>
                                                {{ imageselection.preview_size }}
                                            </small>

                                            {% if imageselection.quote %}
                                            ·
                                            <small>
                                                <a href="{% url 'quote_detail' imageselection.quote.id %}">(presupuesto)</a>
                                            </small>
                                            {% endif %}
                                        </div>
                                        <div>
                                            <em><small>{{ imageselection.get_status_display }}</small></em>

                                            -
                                            <i class="icon-calendar"></i> <span title="Creación: {{imageselection.created|date}} - Última actualización: {{imageselection.last_modified|date}}">
                                                <small><em>Última actualización:</em> hace <strong>{{ imageselection.last_modified|timesince }}</strong></small></span>

                                        </div>
                                   </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p>No existe ninguna solicitud de selección de fotos</p>
                    {% endif %}
                {% endwith %}
            </div>
            {% if user.is_photographer and object.studio == user.studio %}
                <div class="panel-footer">
                    <!-- the logged in user from the same Studio than the Session -->
                    <form action="." method="post">
                        {% csrf_token %}
                        <a href="{% url 'image_selection_create' object.pk %}" class="btn btn-primary">Solicitar selección de imágenes</a>
                        {% if object.get_active_quote %}
                            <a href="{% url 'image_selection_create_from_quote' object.pk %}" class="btn btn-primary">Solicitar selección de imágenes desde presupuesto</a>
                        {% endif %}
                    </form>
                </div>
            {% endif %}
        </div>

    {% endif %}

{% endblock content %}


{% block javascript_bottom %}
<script type="text/javascript">

    $(document).ready(function() {

    });


</script>
{% endblock javascript_bottom %}

</body>
</html>
