{% extends "lumina/base.html" %}
{% load humanize %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina - Presupuesto de sesión{% endblock %}</title>
</head>
<body>

{% block content %}

    <h3>Presupuesto de sesion</h3>

    <form action="." method="post">
        {% csrf_token %}

    <table class="table">
    
        {% include 'lumina/include/sessionquote_details_readonly.html' %}
        
        {% if object.status == 'A' %}
            <tr>
                <th>
                    Aceptado por:
                </th>
                <td>
                    {{ object.accepted_rejected_by }}
                    -
                    {{ object.accepted_rejected_at }}
                </td>
            </tr>
        {% endif %}
        {% if object.status == 'R' %}
            <tr>
                <th>
                    Rechazado por:
                </th>
                <td>
                    {{ object.accepted_rejected_by }}
                    -
                    {{ object.accepted_rejected_at }}
                </td>
            </tr>
        {% endif %}
    </table>

        {% for extra_button in extra_buttons %}
            <input type="submit"
                name="{{ extra_button.name }}"
                value="{{ extra_button.submit_label }}"
                id="button_id_{{ extra_button.name }}"
                class="btn btn-primary"
                {% if extra_button.confirm %} onclick="return confirm('¿Seguro?');" {% endif %}
                {% if extra_button.custom_confirm %} onclick="return custom_confirm();" {% endif %}
            >
        {% endfor %}
        </form>

    {% include 'lumina/include/sessionquote_details_help.html' %}

{% endblock content %}


{% block javascript_bottom %} 

<script type="text/javascript">

function custom_confirm() {
	$('input[name=radioName]:checked', '#myForm').val()
	// $("input[name=selected_quote]:radio").attr('disabled', 'disabled');
	var value = $('input[name=selected_quote]:checked').val();
	if (typeof value === "undefined") {
		alert('Debe seleccionar alguna alternativa');
		return false;
	}
	return confirm('¿Seguro?');
}

$(function() {
	// Initial setup -> all disabled
	$('#button_id_button_accept').attr('disabled', 'disabled');

	// Callback
    $('#accept_terms').click(function() {
        if ($(this).is(':checked')) {
            $('#button_id_button_accept').removeAttr('disabled');
        } else {
            $('#button_id_button_accept').attr('disabled', 'disabled');
        }
    });
});

</script>

{% endblock %}


</body>
</html>
