{% extends "lumina/base.html" %}
{% load humanize %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina - Presupuesto de sesión{% endblock %}</title>
</head>
<body>

{% block content %}

    <h3>Presupuesto de sesion</h3>

    <form action="." method="post">
        {% csrf_token %}

    <table class="table">
    
    <tr>
        <th width="20%">Cliente:</th>
        <td width="80%">{{ object.customer.name }}</td>
    </tr>
    <tr>
        <th>
            Estado:
        </th>
        <td>{{ object.get_status_display }}
            &nbsp;&nbsp;
            <a href="#helpModal" role="button"
                class="btn btn-primary btn-mini"
                data-toggle="modal"><i class="icon-question-sign icon-white"></i> Ayuda</a>
        </td>
    </tr>

        <tr>
            <th>Condiciones:</th>
            <td><pre>{{ object.terms }}</pre>
            </td>
        </tr>

        <tr>
            <th>&nbsp;</th>
            <td>
                <label for="accept_terms"><input
                    type="checkbox" id="accept_terms" name="accept_terms" style="vertical-align: baseline;"> Acepto las condiciones</label>
            </td>
        </tr>

        <tr>
            <th>Alternativas:</th>
            <td>
                <table class="table table-condensed table-hover table-bordered">
                    <tr>
                        <th width="40%" style="text-align: right;">&nbsp;</th>
                        <th width="30%" style="text-align: right;">Cant. de fotograias</th>
                        <th width="30%" style="text-align: right;">Costo</th>
                        <th width="5%" style="text-align: right;">&nbsp;</th>
                    </tr>
                    <tr>
                        <th width="40%" style="text-align: right;">Presupuesto original:</th>
                        <td width="30%" style="text-align: right;">{{ object.image_quantity|intcomma }}</td>
                        <td width="30%" style="text-align: right;">$ {{ object.cost|intcomma }}</td>
                        <td width="5%" style="text-align: right;"><input
                            type="radio" name="selected_quote" value="0"
                            {% if object.quote_alternatives.all.count == 0 %}checked=checked{% endif %}>
                        </td>
                    </tr>
                    {% for alt in object.quote_alternatives.all %}
                        <tr>
                            <th style="text-align: right;">Alternativa:</th>
                            <td style="text-align: right;">{{ alt.image_quantity|intcomma }}</td>
                            <td style="text-align: right;">$ {{ alt.cost|intcomma }}</td>
                            <td width="5%" style="text-align: right;"><input type="radio" name="selected_quote" value="{{alt.image_quantity}}_{{alt.cost}}"></td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        
        {% if object.status == 'A' %}
            <tr>
                <th>
                    Aceptado por:
                </th>
                <td>
                    {{ object.accepted_rejected_by }}
                    -
                    {{ object.accepted_rejected_at }}
                </td>
            </tr>
        {% endif %}
        {% if object.status == 'R' %}
            <tr>
                <th>
                    Rechazado por:
                </th>
                <td>
                    {{ object.accepted_rejected_by }}
                    -
                    {{ object.accepted_rejected_at }}
                </td>
            </tr>
        {% endif %}
    </table>

        <input type="submit" id="button_id_button_accept" name="button_accept"
            value="Aceptar" class="btn btn-primary" onclick="return custom_confirm();">

        <input type="submit" id="button_id_button_reject" name="button_reject"
            value="Rechazar" class="btn btn-primary" onclick="return confirm('¿Seguro?');">

    </form>

    {% include 'lumina/include/sessionquote_details_help.html' %}

{% endblock content %}

{% block javascript_bottom %} 

<script type="text/javascript">

function custom_confirm() {
	$('input[name=radioName]:checked', '#myForm').val()
	// $("input[name=selected_quote]:radio").attr('disabled', 'disabled');
	var value = $('input[name=selected_quote]:checked').val();
	if (typeof value === "undefined") {
		alert('Debe seleccionar alguna alternativa');
		return false;
	}
	return confirm('¿Seguro?');
}

$(function() {
	// Initial setup -> all disabled
	$('#button_id_button_accept').attr('disabled', 'disabled');

	// Callback
    $('#accept_terms').click(function() {
        if ($(this).is(':checked')) {
            $('#button_id_button_accept').removeAttr('disabled');
        } else {
            $('#button_id_button_accept').attr('disabled', 'disabled');
        }
    });
});

</script>

{% endblock %}


</body>
</html>
