{% extends "lumina/base.html" %}
{% load humanize %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina - Presupuesto de sesión{% endblock %}</title>
</head>
<body>

{% block content %}

    <h3>Presupuesto de sesion</h3>

    <form action="." method="post">
        {% csrf_token %}

    <table class="table">
    
        {% include 'lumina/include/sessionquote_details_readonly.html' %}
        
    </table>

        {% for extra_button in extra_buttons %}
            <input type="submit"
                name="{{ extra_button.name }}"
                value="{{ extra_button.submit_label }}"
                id="button_id_{{ extra_button.name }}"
                class="btn btn-primary"
                {% if extra_button.confirm %} onclick="return confirm('¿Seguro?');" {% endif %}
                {% if extra_button.custom_confirm %} onclick="return custom_confirm();" {% endif %}
            >
        {% endfor %}
        </form>

    {% include 'lumina/include/sessionquote_details_help.html' %}

{% endblock content %}

</body>
</html>
