{% extends "lumina/base.html" %}
{% load lumina_extras %}{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina - Session list{% endblock %}</title>
</head>
<body>

{% block content %}

    {% if show_search_form %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Búsqueda de sesiones</h4>
            </div>
            <div class="panel-body">
                {% crispy form form.helper %}
            </div>
        </div>
        <hr>
    {% else %}
	    <h3>Sesiones</h3>
    {% endif %}

    {% if not hide_search_result %}
        {% for a_session in object_list %}

            {% ifchanged a_session.customer.id %}
                <h4>{{ a_session.customer.name }}</h4>
            {% endifchanged %}

            <div class="media">
                <a class="pull-left" href="javascript:void(0);">
                    <img class="media-object" src="{% url 'session_album_icon' a_session.id %}">
                </a>
                <div class="media-body">
                    <div class="media-heading"><a
                           href="{% url 'session_detail' a_session.pk %}">{{ a_session.name }}</a>
                    </div>
                    <div>
                            <small>
                                <span class="badge badge-info">{{ a_session.image_set.count }}</span>
                                imagen{{ a_session.image_set.count|pluralize:",es" }}
                            </small>
                            -
                            <i class="icon-tag"></i> <small><em>Tipo:</em> <strong>{{ a_session.session_type }}</strong></small>
                            -
                            <i class="icon-user"></i> <small><em>Fotógrafo:</em> <strong>{{ a_session.photographer }}</strong></small>
                            -
                            <i class="icon-calendar"></i> <span title="Creación: {{a_session.created|date}} - Última actualización: {{a_session.last_modified|date}}">
                                <small><em>Última actualización:</em> hace <strong>{{ a_session.last_modified|timesince }}</strong></small></span>

                    </div>

                    {% with quote=a_session.get_active_quote %}
                        <div style="padding-top: 5px;">
                            {% if quote %}
                                <i class="icon-briefcase"></i> <small><a class=""
                                    href="{% url 'quote_detail' quote.id %}">Ver presupuesto</a></small>
                            {% endif %}
                        </div>
                    {% endwith %}
                </div>
            </div>
            <hr>

        {% empty %}
            <h4>No se encontraron sessiones fotográficas</h4>
            <hr>

        {% endfor %}

        {% if show_search_form %}
            <nav>
              <ul class="pagination pagination-lg">

                <li class="{% if not object_list.has_previous %} disabled {% endif %}">
                    {% if object_list.has_previous %}
                      <a href="javascript:goToPage('{{ object_list.previous_page_number }}');">
                        &laquo;
                      </a>
                    {% else %}
                      <a href="javascript:void(0);">
                        &laquo;
                      </a>
                    {% endif %}
                </li>

                  <li>
                      <a href="javascript:void(0);">
                        Página {{ object_list.number }} de {{ object_list.paginator.num_pages }}
                      </a>
                  </li>

                <li class="{% if not object_list.has_next %} disabled {% endif %}">
                    {% if object_list.has_next %}
                      <a href="javascript:goToPage('{{ object_list.next_page_number }}');">
                        &raquo;
                      </a>
                    {% else %}
                      <a href="javascript:void(0);">
                        &raquo;
                      </a>
                    {% endif %}
                </li>

              </ul>
            </nav>
        {% endif %}

    {% endif %}

    {% if show_add_session_button %}
        {% if user.is_photographer %}
        <p>
            <a href="{% url 'session_create' %}" class="btn btn-primary">Agregar sesión</a>
        </p>
        {% endif %}
    {% endif %}

    {% dump_objects user object_list object_list.paginator %}

{% endblock content %}


{% block javascript_bottom %}

<script type="application/javascript">

function goToPage(pageNum) {
    $('#id_page').val(pageNum);
    $('#form-session-search')[0].reset();
    $('#form-session-search').submit();
}

$(document).ready(function() {
    $('#form-submit-button').click(function() {
        $('#id_page').val('1');
    });
});
</script>

{% endblock %}

</body>
</html>
