{% extends "lumina/base.html" %}
{% load lumina_extras %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Lumina - Usuarios{% endblock %}</title>
</head>
<body>

{% block content %}




	<h3>Usuarios para cliente «{{ customer.name }}»</h3>

    <table class="table">

        <tr>
            <th width="10%">
                Usuario
            </th>
            <th width="40%">
                Nombre y apellido
            </th>
            <th width="20%">
                Email
            </th>
            <th width="15%">
                Teléfono
            </th>
            <th width="15%" class="text-right">
                Último acceso hace
            </th>
        </tr>

        {% for an_user in object_list %}
            <tr>
                <td>
                    <a href="{% url 'customer_user_update' an_user.id %}">{{ an_user.username }}</a>
                </td>
                <td>
                    {{ an_user.get_full_name }}
                </td>
                <td>
                    <span class="text-nowrap"><a href="mailto:{{ an_user.email }}">{{ an_user.email }}</a></span>
                </td>
                <td>
                    {{ an_user.phone }}
                    {{ an_user.cellphone }}
                </td>
                <td class="text-right">
                    {% if an_user.last_login %}
                        {{ an_user.last_login|timesince }}
                    {% else %}
                        <small class="text-muted">(nunca)</small>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr><td colspan="5">No se ha registrado usuario para el cliente</td></tr>
        {% endfor %}


    </table>

    <a href="{% url 'customer_user_create' customer.id %}" class="btn btn-primary">Nuevo usuario</a>

    {% dump_objects user object_list %}

{% endblock content %}

</body>
</html>
