{% extends "lumina/base.html" %}
{% load lumina_extras %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Lumina Login</title>
</head>
<body>

{% block content %}

<h3>Inicio de sesión</h3>

{% if form.errors %}
	<div class="alert alert-error">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<h4>Error!</h4>
		Your username and password didn't match. Please try again.
	</div>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
<tr>
    <td style="padding-left: 4em; padding-right: 1em; text-align: right;">{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td style="padding-left: 4em; padding-right: 1em; text-align: right;">{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
<tr>
    <td> &nbsp; </td>
    <td><input type="submit" value="Login" id="submit_button" class="btn btn-primary"/></td>
</tr>
</table>

<input type="hidden" name="next" value="{{ next }}" />
</form>

<p>&nbsp;</p>

<hr>

<h3>Social auth</h3>

<a href="{% url 'socialauth_begin' 'twitter' %}"><img
    src="/static/sign-in-with-twitter-gray.png" alt="Login with Twitter"/></a>.

{% dump_objects %}

{% endblock content %}

{% block javascript_bottom %} 

<script type="text/javascript">
	$(document).ready(function() {
		$('#id_username').focus();
	});
</script>

{% endblock %}

</body>
</html>