{% extends "lumina/base.html" %}
{% load lumina_extras %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Lumina Login</title>
</head>
<body>

{% block content %}

<div class="row">
<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-2">

    {% crispy form %}

</div>
</div>
{% endblock content %}

{% block javascript_bottom %} 

<script type="text/javascript">
	$(document).ready(function() {
		$('#id_username').focus();
	});
</script>

{% endblock %}

</body>
</html>