{% extends "lumina/base.html" %}
{% load lumina_extras %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Lumina Login</title>
</head>
<body>

{% block content %}

<div class="row">
<div class="col-xs-6 col-xs-offset-2">

    <h3>Inicio de sesión</h3>

    <p>&nbsp;</p>

        <form method="post" action=".">
            {% csrf_token %}
            {% crispy form %}
            <input type="submit" value="Login" id="submit_button" class="btn btn-primary"/>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>

    <hr>

    <!--
    <h3>Social auth</h3>

    <a href="{ % url 'socialauth_begin' 'twitter' % }"><img
        src="/static/sign-in-with-twitter-gray.png" alt="Login with Twitter"/></a>.
    -->

    {% dump_objects %}

</div>
</div>
{% endblock content %}

{% block javascript_bottom %} 

<script type="text/javascript">
	$(document).ready(function() {
		$('#id_username').focus();
	});
</script>

{% endblock %}

</body>
</html>